.argument-list {
    font-size: 1.2em;
}


.argument-list thead tr td {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-weight: bold;

    text-align: center;

    background: #1d2241;
}

.argument-list--primary thead tr td {
    background-color: #50a0dd;
}

.argument-list tbody tr td {
    text-align: center;
    background: #fff;
    border: 1px dashed #999;
}


.argument-list .argument-list__strong {
    font-weight: bold;
}

.argument-list img {
    max-height: 160px;
}
