.argument-list li {
    width: 100%;
    border: 1px solid #999;
    border-bottom: none;
    border-top-style: dashed;
    padding: 12px 0;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
}

.argument-list img {
    max-height: 160px;
}

.argument-list li:last-of-type {
    border-bottom: 1px solid #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.argument-list li.argument-list__title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.argument-list--primary li.argument-list__title {
    background-color: #50a0dd;
}

.argument-list--secondary li.argument-list__title {
    background: #1d2241;
    color: #fff;
}

.argument-list li.argument-list__strong {
    font-weight: bold;
}

.arguments-list--wide {
    max-width: 70%;
    margin: 0 auto;
}

@media (max-width: 460px) {
    .arguments-list--wide {
        max-width: 100%;
    }

    .argument-list {
        padding: 0;
    }
}
