.button,
a.button-inverted:hover {
    background-color: #415e96;
    border: 1px solid #415e96;
    color: white;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: auto;
}

a.button-inverted {
    background-color: white;
    border: 1px solid #415e96;
    color: #415e96;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button svg{
    fill:white;
    margin-bottom: -12px;
}

.button--call-to-action {
    background-color: #ed0678;
    border-color: #ed0678;
    font-weight: bold;
}

.button__medium {
    font-size: 1rem;
    padding: 8px;
    margin: 1px 5px;
}
