.button,
a.button-white:hover {
    background-color: #415e96;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.button-white {
    background-color: white;
    border: 1px solid #415e96;
    color: #415e96;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button svg{
    fill:white;
    margin-bottom: -12px;
}
