#company-membership form,
#company-membership-payment form,
#company-membership-invitation form,
#company-members form,
.afup-form form,
.form-reset form
{
    width: auto;
    background:transparent;
    margin: 0;
    border: none;
    padding: 0;
}

#company-membership form *,
#company-membership-invitation form *,
#company-members form *,
.afup-form form *
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#company-membership fieldset,
#company-membership-invitation fieldset,
#company-members form fieldset,
.afup-form form fieldset
{
    margin: 2em 0;
    padding: 0;
}
#company-membership fieldset > div,
#company-membership-invitation fieldset > div,
#company-members form fieldset > div,
.afup-form form fieldset .afup-form-container
{
    padding: 1em 15px;
    background: #eee;
    border: 1px solid #ccc;
}
#company-membership legend,
#company-membership-invitation legend,
#company-members form legend,
.afup-form form legend
{
    display:block;
    background-color:#50a0dd;
    padding: 20px 15px;
    margin: 0;
    color:white;
    width:100%;
    font-size:1.5em;
    border: 1px solid #50a0dd;
    font-weight: bold;
}
#company-membership form label,
#company-membership-invitation form label,
#company-members form label,
.afup-form form label
{
    min-width: 45%;
    line-height: 2em;
    font-weight: normal;
    display:inline-table;
}

.afup-form form label {
    text-align: right;
    padding: 0 30px;
}

#company-membership form input,
#company-membership form textarea,
#company-membership form select,
#company-membership-invitation form input,
#company-membership-invitation form textarea,
.afup-form form input,
.afup-form form textarea
{
    min-width: 45%;
}

.afup-form form select {
    background-color: white;
}


.afup-form form input[type=radio] {
    min-width: auto;
}

.afup-form form textarea {
    font-size: 1em;
    font-family: helvetica, arial, sans-serif;
}


.afup-form form input[type=checkbox],
#company-membership form input[type=checkbox] {
    width: auto;
    min-width:0;
}
#company-membership #company_member, #company-membership #admin_company_member, #company-membership-invitation #user{
    text-align:right;
}
#company-membership #company_member button,
#company-membership #admin_company_member button,
#company-membership-invitation button,
#company-membership-payment input[type=submit],
#company-membership-payment a.button,
#company-members form button,
#company-members button.company--submit/*,
.afup-form button*/
{
    text-decoration: none;
    background-color:#50a0dd;
    font-size:1.5em;
    color:white;
    padding: 20px 10px;
    border: 1px solid #2b3e74;
    cursor:pointer;
}
#company-members button.company--submit{
    font-size:1rem;
    padding: 8px;
    margin: 0 5px;
}
#company-members button.company--submit[disabled=disabled] {
    cursor: default;
    background-color:#c2def3;
    color:#777;
}

#company-membership-payment a.button{
    display:inline-block;
}
#company-membership form[name=admin_company_member] {
    width: 50%;
}

#company-members{
    max-width: 980px;
}
#company-members form{
    width: auto;
}
#company_member_invitation_submit{
    text-align:right;
}


.afup-form--miniform {
    max-width: 600px;
    margin: 0 auto;
}
.afup-form--miniform label,
.afup-form--miniform input,
.afup-form--miniform button {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    line-height: 2em;
}

.afup-form--miniform label {
    font-size: 1.3em;
}

.afup-form--miniform form label {
    text-align: left;
    padding: 0;
}

.afup-form--miniform input[type="submit"].button,
.afup-form--login button[type="submit"].button{
    margin: 1em 0;
}

.afup-form--miniform .afup-form-container > div {
    margin: 1em 0;
}

.afup-form--miniform p {
    font-size: 1.3em;
}

.afup-form-container .form-help {
    text-indent: 0;
    display: inline-block;
    max-width: 45%;
}
