div.container, div.container * {
    box-sizing: border-box;
}

div.container:before,
div.container:after {
    content: " ";
    display: table;
}

div.container:after {
    clear: both;
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.666666667%;
    }
    .col-md-10 {
        width: 83.333333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66667%;
    }
    .col-md-7 {
        width: 58.333333333%;
    }
    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.666666667%
    }

    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666667%;
    }
    .col-md-1 {
        width: 8.333333%;
    }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 460px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12
    {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media (max-width: 991px) {
    .col-md-6 {
        width: 100%;
    }
}