form {
    width: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

input.span7 {
    height:25px;
}

form *, #divPersonne *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

fieldset{
    padding: 0 0 18px;
}

fieldset legend{
    display:block;
    background-color:#50a0dd;
    padding: 20px 10px;
    color:white;
    width:100%;
    cursor: pointer;
    font-size: 19.5px;
}
fieldset legend a {
    color: white;
}

fieldset div.fieldset--inner {
    background-color: #f2f2f2;
    padding: 15px 10px;
    width: 100%;
}
fieldset div#fieldset--optin > div{
    display: flex;
    gap: 10px;
}

fieldset p {
    padding-top:15px;
}

input:invalid, select:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid, select:focus:invalid  {
    outline: none;
}

label{
    width:200px;
    font-weight: normal !important;
    text-align: right;
    padding: 0 1em 0 0;
    border: none;
}
form .input{
    margin-left: 230px !important;
}

span.fieldset--legend--price{
    float:right
}

fieldset.fieldset-divers .input{
    margin-left:50px !important;
}
fieldset.fieldset-divers .input .inputs-list li, fieldset.fieldset-facturation .input .inputs-list li, div[id^="div_groupe_mobilite_reduite"] .inputs-list li{
    float:left;
    width: 30%;
}

input[name^="tag"] {
    width:200px;
}
div[id^="div_tags"] {
    margin-left: 0 !important;
}
div[id^="div_tags"] ul li:not(:first-child){
    float:left;
    width:32%;
}
form[name=purchase] .btn{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

form[name=purchase] .boutons div.fieldset--inner div.clearfix .input{
    margin: 0 20px !important;
    text-align: right;
}

form[name=purchase] .boutons div.fieldset--inner div.clearfix:first-child .input{
    margin: 0 auto !important;
    width:50%;
}
form[name=purchase] .boutons .input tr.registration td, form[name=purchase] .boutons .input tr.registration th{
    border-bottom: 1px solid #7d7d7d;
    border-top:none !important;
}
form[name=purchase] .boutons .input td{
    border-left: 1px solid #7d7d7d;
}
ul.tickets--type-list hr{
    margin-left: 0;
}
ul.tickets--type-list li {
    padding: 1em 0;
    border-top: 1px #4c6eaf solid;
}

ul.tickets--type-list li:first-child{
    border-top: none;
}

ul.tickets--type-list li.tickets--type-list-emphasis {
    border-top-color: black;
    margin-top:2em;
    padding-top:2em;
}

fieldset div.fieldset--inner > div{
    padding: 0.4em 0;
}

ul.tickets--type-list label{
    width: 500px;
    font-weight: 700 !important;
}
ul.tickets--type-list label, div.tickets--pmr label{
    text-align: left;
    padding-left:20px;
}
ul.tickets--type-list input{
    display:inline-block;
    width: 20px;
    position: relative;
    top: 49px;
    left: -7px;
}
ul.tickets--type-list span.tickets--type-details{
    padding-left: 20px;
    font-style: italic;
}

.tickets--type-list .tickets--type-description{
    padding-left: 42px;
    padding-top: .5em;
    text-align: justify;
}
span.tickets--type-price{
    font-weight:bold;
    font-family: Glegoo,Helvetica,Arial,sans-serif;
    display: inline-block;
    min-width: 50px;
    text-align: right;
}
span.tickets--type-members{
    color: #4c6eaf;
    font-weight:bold;
}
label[for=purchase_codeOfConduct], #fieldset--optin div label{
    width: auto;
}
div.tickets--bankwire{
    display: none;
    margin-left:200px;
}

div.tickets--errors ul.tickets--errors{
    margin-left: 1em;
}

.tickets--errors{
    font-weight: bold;
    color: #B0413E;
}
.tickets--type-stock-close-to-sold-out {
    font-weight: bold;
}

#tickets--other-payments{
    cursor: pointer;
}
div.tickets--members-detail, div.tickets--errors{
    padding: 0 1em;
    border: 1px #50a0dd solid;
    margin: 1em auto;
    background-color:#f2f2f2;
}
div.sponsor--become-form {
    margin-top:1em;
}
div.sponsor--become-form div.sponsor--become-submit{
    text-align: right;
    margin-right: 30px;
}
div.sponsor--become-form label {
    min-width: 20%;
    width: auto;
}
div.tickets--errors{
    border-color: #B0413E;
}
fieldset div.fieldset--inner > div.transport {
    padding: 1em;
    border: 1px #50a0dd solid;
    background-color: #FEFEFE;
}
fieldset div.fieldset--inner > div.transport p {
    padding-top: 0;
}
fieldset div.fieldset--inner > div.transport button {
    color: rgb(76, 110, 175);
    text-decoration: underline;
    background-color: transparent;
    border: 0;
}
fieldset div.fieldset--inner > div.transport button:hover {
    text-decoration: none;
}

@media(min-width: 460px) {

    ul.tickets--type-list{
        margin-left:150px;
    }

    ul.tickets--type-list li {
        width: 600px;
    }

    ul.tickets--type-list hr{
        width:600px;
    }

    ul.tickets--type-list span.tickets--type-details{
        padding-left: 42px;
    }

    ul.tickets--type-list input {
        top: 12px;
        left: -7px;
    }

    p.tickets--type-stock-limit{
        margin-left:200px;
    }

    ul.tickets--errors, #fieldset--optin div{
        margin-left:200px;
    }

}

@media(max-width:460px) {
    form label{
        min-width: 0;
        text-align:left;
        font-size: 16px;
    }
    form {
        font-size:16px;
    }

}