<div class="ui violet segment">
    {{ form_start(form) }}
        <div class="ui form">
            <div class="inline fields">
                <div class="field">
                    {{ form_label(form.id, 'Évènement') }}
                    {{ form_widget(form.id, {attr: {onchange:'this.name="id"; this.form.submit(); return false;'}}) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>
