{% include 'legacy/forumphp2008/entete.html.twig' %}
<div id="cartouche-milieu">
    {% include 'legacy/forumphp2008/cartouche.html.twig' %}
    <h1>Acc&egrave;s</h1>
	<p><a href="{{ path('legacy_event', {year: 2008, page: 'acces2.php'}) }}"><img src="/templates/forumphp2008/images/acces_asiem.png" alt="cliquez sur la cible pour plus d'infos" border="0" /></a><br />
	<span class="texte">Cliquez sur l'image pour agrandir.</span></p>
	<p><br />
    <span class="titre">Adresse :</span><span class="titreauteur"><br />
    </span><span class="texte">ASIEM<br />
	6, rue Albert de Lapparent<br />
    75007 Paris <br />
	Tél. : 01 42 73 13 36<br />
    Metro : Ségur (ligne 10)</span></p>
	<p class="texte">Vous pouvez consulter les sites <a href="http://www.mappy.fr/" target="_blank">Mappy</a>, 
	<a href="http://www.maporama.fr" target="_blank">Maporama</a>,
	<a href="http://maps.yahoo.com/" target="_blank">Yahoo Maps</a>
	ou même <a href="http://maps.google.com/maps?f=q&hl=en&q=6,+rue+Albert+de+Lapparent+75007+Paris&sll=37.0625,-95.677068&sspn=33.435463,58.359375&ie=UTF8&ll=48.849072,2.308202&spn=0.006778,0.014248&z=16&iwloc=addr&om=1" target="_blank">Google Maps</a>
	pour voir comment vous y rendre.</p>
</div>
{% include 'legacy/forumphp2008/pied_de_page.html.twig' %}
