{% include 'legacy/forumphp2008/entete.html.twig' %}
<div id="cartouche-milieu">
    {% include 'legacy/forumphp2008/cartouche.html.twig' %}
    <h1>Rendez-vous en 2008</h1>
    <p>
    	D&eacute;sol&eacute; mais le Forum PHP 2008 est fini ;-)
    </p>
	<p>
		A l'ann&eacute;e prochaine...
	</p>
</div>
{% include 'legacy/forumphp2008/pied_de_page.html.twig' %}
