            </div>

            <div id="a-droite">
                <div id="php">
                    <center>
                    <br />
                    <a href="http://www.php.net/"><img id="logo-php" src="/templates/forumphp2008/images/logo_php.png" alt="PHP" border="0" /></a>
                    </center>
                </div>
                <div id="sponsors">
                    <img src="/templates/forumphp2008/images/entete-sponsors.png" />
                    <center>
                    <h3 style="color : gold;">Gold</h3>
					<a href="http://www.zend.com/fr/"><img class="entreprise" src="/templates/forumphp2008/images/logo_zend.gif" alt="Zend" /></a>
                    <h3 style="color : silver;">Silver</h3>
                    <a href="http://www.oracle.com/global/fr/"><img class="entreprise" src="/templates/forumphp2008/images/logo_oracle.gif" alt="Oracle" /></a>
                    <br /><br />
                    <a href="http://www.anaska.com/formation-php.php"><img class="entreprise" src="/templates/forumphp2008/images/logo_anaska.png" alt="Anaska, groupe AlterWay" /></a>
                    <br /><br />
                    </center>
                </div>
                <div id="partenaires">
                    <img src="/templates/forumphp2008/images/entete-partenaires.png" alt="partenaires du Forum PHP 2006 Paris" />
                    <center>
                    <br /><br />
                    <a href="http://www.editions-eyrolles.com/"><img class="entreprise" src="/templates/forumphp2008/images/logo_eyrolles.gif" alt="Eyrolles" /></a>
                    <br /><br />
                    <a href="http://www.editions-eni.fr/"><img class="entreprise" src="/templates/forumphp2008/images/logo_eni.jpg" alt="ENI" /></a>
                    <br /><br />
                    </center>
                </div>
                <div id="organisateurs">
                    <img src="/templates/forumphp2008/images/entete-organisateurs.png" alt="organisateurs du Forum PHP 2006 Paris" />
                    <center>
                    <br /><br />
                    <a href="http://www.elao.com/"><img class="entreprise" src="/templates/forumphp2008/images/logo_elao.png" alt="Elao" /></a>
                    <br /><br />
                    <a href="http://www.ipnotic-telecom.fr/"><img class="entreprise" src="/templates/forumphp2008/images/logo_ipnotic_petit.jpg" alt="Ipnotic Telecom" /></a>
                    <br /><br />
                    <a href="http://informatique.naoss.fr/"><img class="entreprise" src="/templates/forumphp2008/images/logo_naoss.gif" alt="NAOSS Informatique" /></a>
                    <br /><br />
                    <a href="http://www.noparking.net/"><img class="entreprise" src="/templates/forumphp2008/images/logo_noparking_petit.gif" alt="No Parking" /></a>
                    <br /><br />
                    <a href="http://www.nexenservices.com/"><img class="entreprise" src="/templates/forumphp2008/images/logo_nexenservices_petit.gif" alt="Nexen Services" /></a>
                    <br /><br />
                    <a href="http://www.openstates.com/"><img class="entreprise" src="/templates/forumphp2008/images/logo_openstates.gif" alt="OpenStates" /></a>
                    <br /><br />
                    </center>
                </div>
            </div>
        </div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-192127-3");
    pageTracker._initData();
    pageTracker._trackPageview();
</script>
    </body>
</html>
