.article-teaser {
  text-decoration: none;
  display: block;
  margin: 20px 0 38px;
  color: #3e3d40;
  background: none;
  padding-bottom: 2px;

  p {
    display: inline;
  }

  h2 {
    margin: 0;
  }

  .article-date {
    padding: 0  0 5px 0;
  }
}
