footer {
  .pre-footer-container {
    background-color: #1d2241
  }

  div.container.pre-footer {
    padding: 25px
  }

  .pre-footer-icon i {
    color: #fff;
    font-size: 5em;
    padding: 0 15px;
  }

  .pre-footer-newsletter-title {
    color: #fff;
    font-weight: bold;
  }

  .pre-footer-newsletter-caption {
    color: #fff;
    font-style: italic
  }

  .pre-footer-social-network {
    display: inline-block;
  }

  .footer-nav li {
    border-top: 1px solid #e5e5e5;
    list-style: none;

    a {
      padding: 10px 0;
      display: block;
      text-decoration: none;
      color: #999;
      position: relative;

      i {
        position: absolute;
        right: 20px;
        top: 15px;
      }
    }
  }
}
