.home-list {
  list-style: none;

  li a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 0;
  }
}

.home-list-date {
  color: rgb(62, 61, 64);
}

.home-list-chapeau-container {
  margin: 15px 0;
  color: rgb(62, 61, 64);

  p {
    display: inline;
  }
}

.home-view-more {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  text-decoration: none;
}

.home-read-more {
  color: #147fab;
  display: inline;
}

.home-talk-of-the-day {
  text-decoration: none;

  img {
    max-width: 420px;
  }
}

.home-actualite-title {
  font-size: 1.23em;
  font-weight: 700;
  line-height: 1.05em;
  font-family: "Glegoo", serif;
  color: #4c6eaf;
  margin: 20px 0 10px 0;
  display: inline-block;
}

.home-actualite-title a{
  font-size: 1em;
  color: #4c6eaf;
  text-decoration: none;
}

.home-actualite-title a:hover {
  text-decoration: underline;
}
