.member-index {
  max-width: 1100px;
}

.member-index-item {
  padding: 20px 0;
}

.member-index-item .fa {
  margin:  0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
  float: left;
  min-width: 60px;
  font-size: 5em;
  text-align: center;
  color: #000;
}

.member-index-item--title {
  font-weight: bold;
}

.member-index-item--link {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.member-index-item .member-index-item--link a,
.member-index-item .member-index-item--link a:hover {
  font-size: 1.1em;
  font-weight: bold;
  min-width: 230px;
  text-align: center;
  padding: 8px 20px;
}

@media (max-width: 460px) {
  .member-index-item {
    margin: 10px 0;
  }

  .member-index-item .fa {
    display: none;
  }

  .member-index-item .member-index-item--link {
    margin: 20px 0 0 0;
  }
}

.member-badge {
  text-align: center;
}

.member-badge img {
  max-height: 150px;
}
