.prev-next-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.prev-next-link {
  width: 100%;
  display: block;
  margin: 50px 10px;
  padding: 2em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  color: #333;

  @media (max-width: 768px) {
    margin: 10px 0;
    padding: 1em;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &__prev, &__next {
    font-size: .8em;
    margin: 10px 0;
  }

  &:hover {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
  }

  &__title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  .fa {
    margin: 0 8px;
  }
}


.related-infos {
  margin: 50px 0 0;
  padding: 20px 0;
}


@media (max-width: 460px) {
  .prev-next-links {
    display: block;
  }
}
