#subheader {
  display: flex;
  padding: 0 0 0 15px !important;
  background: #36a7df;
  width: 100%;
  padding: 0;
  margin: 0;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;

    li {
      float:left;
      padding: 10px;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }

    a {
      font-family: "Podkova", serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.25;
      color: #fff;
      text-decoration: none;
    }
  }

  .subheader-current {
    background-color: #fff;
    pointer-events: none;

    a {
      color: #50a0dd;
    }
  }
}

@media (max-width: 768px) {
  body:target #subheader {
    transform: translate(-1000px);
  }

  #subheader {
    width: 170px;
    height: 100%;
    padding: 120px 0 !important;
    position: fixed;
    top: 0;
    right: -1000px;
    transition: transform ease-in-out .5s;
    z-index: 9;

    > div {
      margin: 0;
      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 460px) {
  #subheader {
    padding: 100px 0 !important;
  }
}
