.afup-table {
  border-spacing: 2px;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #50a0dd;
}

.afup-table th {
  background: #50a0dd;
  color: #ffffff;
  padding:5px;
  border-left: 1px solid #ffffff;
}

.afup-table tbody tr:nth-child(2n+1) {
  background: #eee;
}
