.afup-table {
  border-spacing: 2px;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #36a7df;
}

.afup-table th {
  background: #36a7df;
  color: #ffffff;
  padding: 10px 20px;
  border-left: 1px solid #ffffff;
}

.afup-table tbody tr:nth-child(2n+1) {
  background: #eee;
}
