{% extends ':site:base.html.twig' %}
{% block inner_content %}
    <article>
        <h1>Devenir membre de l'AFUP</h1>
        <div id="become_member">
            <h2>Je suis un particulier</h2>
            <p>
                L'inscription se fait directement sur la page dédiée. Elle coute 25 euros pour 12 mois.
            </p>
            <div>
                <a href="/pages/administration/index.php?page=inscription"><div class="button">Adhérer en tant que particulier<br />25€ / an</div></a>
            </div>
            <h2>Nous sommes une entreprise</h2>
            <p>
                Une préinscription est à réaliser via le formulaire ci-dessous. Notre trésorier vous recontactera pour finaliser ensuite l'inscription.
                Le montant de la cotisation est de 100 euro HT par tranche de 3 employés pour 12 mois. A noter, l'afup ne facture pas de TVA.
            </p>
            <a href="{{ url('company_membership') }}"><div class="button">Adhérer en tant qu'entreprise<br />100 € / 3 employés</div></a>
        </div>
        <p>
            Le paiement d'une adhésion professionnelle peut se faire soit par carte bancaire, par chèque ou par virement. Pour les particuliers, seul le paiement par carte bancaire est disponible.<br />
            L'adhésion nécessite l'acceptation pleine et sans réserve du <a href="/pages/site/?route=vie-associative-afup/21/reglement-interieur">Règlement Intérieur</a>.
        </p>
    </article>
{% endblock %}