{% extends ':site:base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        .mapael .map {
            margin-bottom: 10px;
            position: relative;
        }

        .mapael .mapTooltip {
            position: absolute;
            background-color: #474c4b;
            -moz-opacity: 0.70;
            opacity: 0.70;
            filter: alpha(opacity=70);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            max-width: 200px;
            display: none;
            color: #fff;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>
    <script src="{{ asset('/js/jQuery-Mapael-2.0.0/js/jquery.mapael.min.js') }}"></script>
    <script src="{{ asset('/js/jQuery-Mapael-2.0.0/js/maps/france_departments.min.js') }}"></script>
    <script>
        $(".map-container").mapael({
            map : {
                name : "france_departments",
                defaultArea: {
                    attrs: {
                        fill: "#50a0dd"
                        , stroke: "#ced8d0"
                    }
                    , attrsHover: {
                        fill: "white"
                    }
                    , text: {
                        attrs: {
                            fill: "#505444"
                        }
                        , attrsHover: {
                            fill: "#000"
                        }
                    }
                }
            },
            areas: {
                "department-75": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-77": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-78": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-91": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-92": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-93": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-94": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-95": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Paris"},
                    href: "http://paris.afup.org/"
                },
                "department-34": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Montpellier"},
                    href: "https://twitter.com/afup_mtp"
                },
                "department-44": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Nantes"},
                    href: "https://twitter.com/afup_mtp"
                },
                "department-69": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Lyon"},
                    href: "http://lyon.afup.org"
                },
                "department-26": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Drome-Ardeche"},
                    href: "http://valence.afup.org"
                },
                "department-07": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Drome-Ardeche"},
                    href: "http://valence.afup.org"
                },
                "department-13": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Marseille"},
                    href: "http://marseille.afup.org"
                },
                "department-31": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Toulouse"},
                    href: "http://toulouse.afup.org"
                },
                "department-59": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Lille"},
                    href: "http://lille.afup.org/"
                },
                "department-45": {
                    attrs: {
                        fill: "#2b3e74"
                    },
                    tooltip: {content: "Antenne Centre"},
                    href: "https://twitter.com/afupCentre"
                },
            }
        });
    </script>
{% endblock %}


{% block inner_content %}

    <h1>Antennes locales</h1>
    <p>Une dizaine d'antennes locales, représentantes de l'AFUP en région, organise rencontres, meetups et apéros PHP
        tout au long de l'année, tisse un lien entre les développeurs et fait la promotion du PHP dans les entreprises
        partout en France.</p>
    <div class="map-container">
        <div class="map">Antennes AFUP françaises</div>
    </div>


    <h2>Concrètement que se passe-t-il près de chez moi ?</h2>
    <h3>Meetups et apéros PHP</h3>
    <p>L'antenne locale organise, avec le soutien de l'AFUP, des soirées de conférences gratuites, accueillies dans des
        locaux d'entreprises partenaires : les meetups, ou rendez-vous AFUP. Les membres sont conviés à assister à un ou
        deux talks, proposés par des experts du langage, qu'ils soient speakers confirmés ou nouveaux conférenciers qui
        se lancent en notre compagnie. <strong>Ces soirées sont l'occasion parfaite pour les auditeurs de progresser et
            se tenir informé des dernières évolutions de PHP. </strong></p>
    <p>D'autres rendez-vous plus informels, organisés dans un bar autour de quelques verres, permettent également aux
        développeurs de se retrouver : pour savoir si un apéro PHP est organisé prochainement près de chez vous,
        consultez le site des <a href="http://www.aperophp.net">apéros PHP</a>.</p>
    <h3>Créer du lien avec les entreprises, les écoles et les autres associations web</h3>
    <p>L'antenne locale est l'interlocuteur de prédilection en région pour créer des passerelles avec les écoles, les
        entreprises PHP et les autres associations web locales. <strong>Grâce à l'antenne locale, les développeurs
            locaux se rencontrent, se fédèrent, et des ponts se créent avec tous les intervenants importants du monde
            Open Source</strong> </p>
    <h3>Organisation d'une étape du PHP Tour</h3>
    <p>L'étape ultime pour l'antenne locale est l'organisation d'une étape du cycle de conférences itinérant de l'AFUP,
        le PHP Tour ! Quand l'équipe est dynamique, motivée, organisée, elle peut dès lors déposer un dossier de
        candidature pour accueillir l'événement dans sa ville.</p>
    <p> </p>
    <h2>Envie de vous impliquer ?</h2>
    <p>Chaque antenne locale est représentée par un coordinateur, élu par les membres locaux. S'il est l'interlocuteur
        privilégié de l'AFUP pour votre région, il a cependant besoin de connaître vos envies, vos besoins, pour
        organiser des meet-ups qui vous intéresseront : contactez votre antenne, proposez votre aide, soumettez vos
        idées.<br/><strong>Envie de vous impliquer davantage ?</strong> Votre entreprise peut peut-être accueillir un
        rendez-vous AFUP dans ses locaux, sponsoriser une soirée, ou vous pouvez peut-être faire jouer vos contacts pour
        inviter un conférencier de qualité !</p>

    <h2>Trouvez l'antenne locale AFUP proche de chez vous !</h2>
    <p>Suivez-la sur <a href="https://twitter.com/afup/lists/antennes-afup/members?lang=fr">Twitter</a>,
        contactez-la en MP, ou écrivez à l'AFUP pour être mis en relation avec le coordinateur de votre antenne.</p>

    <h2>Petite histoire des antennes locales</h2>
    <p>L'AFUP a été créée en 2000, avec pour objectif de promouvoir le langage PHP et son ecosystème, et contribuer à
        son développement auprès des professionnels et de la communauté. En 2011, des membres de l'association vivant en
        région décident de donner une nouvelle impulsion à l'AFUP, et une nouvelle dimension à ses objectifs : la
        communauté manifeste son envie d'agir localement. C'est ainsi qu'apparaissent les antennes locales. Elles
        deviennent les représentantes en région de l'action menée à l'échelle nationale par l'association. Rapidement,
        les antennes AFUP Lyon, Paris, Orléans et Nantes naissent. Suivront Lille, Luxembourg, Toulouse, Valence,
        Montpellier… <strong>Rencontrez les membres AFUP qui vivent près de chez vous !</strong></p>
    <a class="twitter-timeline" data-lang="fr" data-height="500" data-dnt="true" data-theme="light" href="https://twitter.com/afup/lists/antennes-afup">A Twitter List by afup</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}