{% extends ':site:base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}" media="all" />
    <style type="text/css">
        h1 {
            text-align: center;
        }

        h1 img {
            max-height: 80px;
        }

        @media (max-width: 992px) {
            h1 img {
                display: block;
                margin: 10px auto;
            }
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>
                <img src="http://aperophp.net/img/logo_apero_php.png" />
                Live Super-apéro PHP
                <img src="http://aperophp.net/img/logo_apero_php.png" />
            </h1>

            <script>window.twttr = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                    if (d.getElementById(id)) return t;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);

                    t._e = [];
                    t.ready = function(f) {
                        t._e.push(f);
                    };

                    return t;
                }(document, "script", "twitter-wjs"));</script>


            <div style="text-align: center">
                <h4>Suivez en direct le <a href="{{ path('superapero') }}">Super Apéro PHP</a>, grâce à notre live vidéo dans 14 antennes AFUP en France et au Luxembourg</h4>
            </div>

            <div class="container">
                <div class="col-md-4">
                    <h2>Sur twitter : #SuperAperoPHP</h2>
                    <a class="twitter-timeline"  href="https://twitter.com/hashtag/superAperophp" data-widget-id="836698909695160320">Tweets sur #superAperophp</a>
                </div>
                <div class="col-md-8">
                    <h2>Voir les apéros en live</h2>

                    <div class="container">
                        <div class="col-md-4">
                            <h3>Rennes</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AAFUP_rennes%20filter%3Aperiscope"
                               data-widget-id="839232405298896896"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Montpellier</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AAfup_Mtp%20filter%3Aperiscope"
                               data-widget-id="839233406647029762"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Lille</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3Aafup_lille%20filter%3Aperiscope"
                               data-widget-id="839917060100665345"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Limoges</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AmatGiWeb%20filter%3Aperiscope"
                               data-widget-id="839232054671912962"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>

                        </div>

                        <div class="col-md-4">
                            <h3>Nantes</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3Aafup_nantes%20filter%3Aperiscope"
                               data-widget-id="839234073478459395"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Toulouse</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AAFUP_Toulouse%20filter%3Aperiscope"
                               data-widget-id="839234331298181121"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Lyon</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AAFUP_Lyon%20filter%3Aperiscope"
                               data-widget-id="839234611410513920"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>


                        <div class="col-md-4">
                            <h3>Paris</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3Aafup_paris%20filter%3Aperiscope"
                               data-widget-id="839234833498898434"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Bordeaux</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3AAFUP_Bordeaux%20filter%3Aperiscope"
                               data-widget-id="839231796231430144"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>

                        </div>

                        <div class="col-md-4">
                            <h3>Luxembourg</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3Aafup_luxembourg%20filter%3Aperiscope"
                               data-widget-id="839233780279873537"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h3>Reims</h3>
                            <a class="twitter-timeline"
                               href="https://twitter.com/search?q=from%3Aafup_reims%20filter%3Aperiscope"
                               data-widget-id="836706860908625921"
                               data-chrome="noheader nofooter noborders"
                               data-tweet-limit="1"
                            >
                                Pas de vidéo.
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}

