// Colors
$color-rose: #e91e63;
$color-primary: #9c27b0;
$color-primary-hover: #89229b;
$color-info: #00bcd4;
$color-success: #4caf50;
$color-danger: #f44336;
$color-warning: #ff9800;
$color-secondary: #3C4858;
$color-body-text: #999999;

// Typography
$primary-font: "Roboto","Helvetica","Arial",sans-serif;
$secondary-font: "Roboto Slab","Times New Roman",serif;

// Font sizes
$font-size-carousel: 67px;
$font-size-big-title: 55px;
$font-size-h1: 2px;
$font-size-h2: 37px;
$font-size-h3: 32px;
$font-size-h4: 27px;
$font-size-h5: 23px;
$font-size-h6: 18px;
$font-size-body: 16px;
$font-size-description: 14px;
$font-size-small: 12px;

// Buttons
$social-networks: 'facebook' 'twitter' 'pinterest' 'google' 'linkedin' 'dribbble' 'github' 'youtube' 'instagram' 'reddit' 'tumblr' 'behance' 'snapchat' 'deviantart' 'vimeo';
$social-networks-colors: #3b5998 #55acee #cc2127 #dd4b39 #0976b4 #ea4c89 #000 #e52d27 #125688 #ff4500 #35465c #1769ff #fffc00 #05cc47 #1ab7ea;
$social-networks-icons: '\f39e' '\f099' '\f231' '\f1a0' '\f0e1' '\f17d' '\f09b' '\f167' '\f16d' '\f281' '\f173' '\f1b4' '\f2ac' '\f1bd' '\f27d';
