
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^en/(.*) $1 [L,R=302]

RewriteRule ^forum-php-2017/programme/ /forumphp2017/programme [L,R=301]
RewriteRule ^forum-php-2018/sponsors/ /forumphp2018/sponsors [L,R=301]
RewriteRule ^forum-php-2018/accessibilite-et-inclusivite/ /forumphp2018/accessibilite-et-inclusivite [L,R=301]
RewriteRule ^code-de-conduite https://afup.org/p/986-code-de-conduite [L,R=302]


RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
