[*]
insert_final_newline = true
indent_style = space
indent_size = 4

[{compose.yaml,compose.override.yaml,compose.yml,compose.override.yml}]
indent_size = 2

[{.github/*/*.yaml,.github/*/*.yml}]
indent_size = 2
