# version 1.1
services:
  db:
    build: ./docker/dockerfiles/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: afup
      MYSQL_PASSWORD: afup
      MYSQL_DATABASE: web
    volumes:
      - ./data/mysql:/var/lib/mysql

  dbtest:
    build: ./docker/dockerfiles/mysqltest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: afup
      MYSQL_PASSWORD: afup
      MYSQL_DATABASE: web
    volumes:
      - ./data/mysqltest:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  apachephp:
    build:
      context: ./docker/dockerfiles/apachephp
      args:
        uid: ${CURRENT_UID:-1001}
        gid: "1001"
        ENABLE_XDEBUG: ${ENABLE_XDEBUG:-false}
    environment:
      SYMFONY_ENV: "dev"
    env_file:
      .env
    volumes:
      - ./:/var/www/html
    links:
      - db
      - mailcatcher

  apachephptest:
    build:
      context: ./docker/dockerfiles/apachephp
      args:
        uid: ${CURRENT_UID:-1001}
        gid: "1001"
        ENABLE_XDEBUG: ${ENABLE_XDEBUG:-false}
    environment:
      SYMFONY_ENV: "test"
    env_file:
      .env
    volumes:
      - ./:/var/www/html
    links:
      - statictestresources
    healthcheck:
      test: [ "CMD", "curl", "-f", "https://apachephptest:80" ]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      dbtest:
        condition: service_healthy

  mailcatcher:
    image: dockage/mailcatcher:0.9.0

  statictestresources:
    image: nginx:1.25.4
    volumes:
      - ./docker/dockerfiles/statictestresources:/usr/share/nginx/html:ro
