version: "2.1"

services:
  db:
    build: ./docker/dockerfiles/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: afup
      MYSQL_PASSWORD: afup
      MYSQL_DATABASE: web
    volumes:
      - ./data/mysql:/var/lib/mysql

  apachephp:
    build:
      context: ./docker/dockerfiles/apachephp
      args:
        uid: ${CURRENT_UID:-1001}
        gid: "1001"
    environment:
      SYMFONY_ENV: "dev"
    volumes:
      - ./:/var/www/html
    links:
      - db
      - mailcatcher

  event:
    build:
      context: ./docker/dockerfiles/event
      args:
        uid: ${CURRENT_UID:-1001}
        gid: "1001"
    environment:
      AFUP_WEBSITE_URL: 'https://apachephp:80'
    volumes:
      - ./:/var/www/html
    links:
      - dbevent
      - apachephp

  dbevent:
    build: ./docker/dockerfiles/mysql_event
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: afup
      MYSQL_PASSWORD: afup
      MYSQL_DATABASE: event
    volumes:
      - ./data/mysql_event:/var/lib/mysql

  cliphp:
    build:
      context: ./docker/dockerfiles/apachephp
      args:
        uid: ${CURRENT_UID:-1001}
        gid: "1001"
    user: localUser
    volumes:
        - ./data/composer:/home/localUser/.composer
        - ./:/var/www/html
    links:
      - db
      - mailcatcher
    command: "false"

  mailcatcher:
    image: schickling/mailcatcher
