parameters:
    phpVersion: 80200 # PHP 8.2
    level: 3
    paths:
        - sources
    stubFiles:
            - tests/stubs/Ting/Repository/Repository.php.stub
            - tests/stubs/Ting/Repository/RepositoryFactory.php.stub
