includes:
    - vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-configuration.php

parameters:
    level: 3
    paths:
        - sources
    stubFiles:
            - tests/stubs/Ting/Repository/Repository.php.stub
            - tests/stubs/Ting/Repository/RepositoryFactory.php.stub

rules:
    - AppBundle\StaticAnalysis\Rule\NoDebugFunctionsRule
    - AppBundle\StaticAnalysis\Rule\NoGetUserMethodRule
