{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Modifier un type de réglement</h2>

    {% include 'admin/accounting/configuration/payment_form.html.twig' %}

{% endblock %}
