{% extends 'legacy/forumphp2009/base.twig' %}

{% block content %}
<div id="cartouche-milieu">
	{% include 'legacy/forumphp2009/cartouche.html.twig' %}
  <img src="/templates/forumphp2009/images/logo_cite_des_sciences.jpg" align="right" border="0" style="margin: 20px;" />
    <h1>Acc&egrave;s</h1>
	
	<p><br />
  
    <span class="titre">Adresse :</span><span class="titreauteur"><br />
    </span><span class="texte">Cité des Sciences et de l'Industrie<br />
 

	30, avenue Corentin-Cariou<br />
    75019 Paris <br />
	Tél. : 01 40 05 70 00 <br /><br />
Métro : ligne 7, station Porte de la Villette.<br />
Bus : 75, 139, 150, 152, 249, PC.<br /><br />
SNCF : <br />
Gare de l’Est à 10 minutes en métro.<br />

Gare du Nord (Eurostar et Thalys) à 15 minutes<br />

Gare Saint-Lazare et Gare Montparnasse à 30 minutes.<br />

Gare de Lyon à 40 mn..<br /><br />

Parc auto payant : entrée quai de la Charente.

</span></p>
	<p class="texte">Vous pouvez consulter les sites <a href="http://www.mappy.fr/" target="_blank">Mappy</a>, 
	<a href="http://www.maporama.fr" target="_blank">Maporama</a>,
	<a href="http://maps.yahoo.com/" target="_blank">Yahoo Maps</a>
	ou même <a href="http://maps.google.com/maps?f=q&source=s_q&hl=fr&geocode=&q=Cit%C3%A9+des+Sciences&sll=48.896098,2.386973&sspn=0.008365,0.02075&g=Cit%C3%A9+des+Sciences,+30+Avenue+Corentin+Cariou,+75019+Paris,+Paris,+Ile-de-France,+France&ie=UTF8&ll=48.896521,2.385943&spn=0.008365,0.02075&z=16&iwloc=B" target="_blank">Google Maps</a>
	pour voir comment vous y rendre.</p>
  <p><img src="/templates/forumphp2009/images/plan-cite.jpg" alt="cliquez sur la cible pour plus d'infos" border="0" /><br />
</p>
</div>
{% endblock %}
