{% include 'legacy/forumphp2009/entete.html.twig' %}
<div id="cartouche-milieu">
	{% include 'legacy/forumphp2009/cartouche.html.twig' %}
	<h1>Fin de l'appel &agrave; conf&eacute;renciers</h1>

	<p>Merci de nous avoir soumis vos propositions de session.</p>

	<p>Pour tous ceux ayant soumis une proposition vous recevrez une r&eacute;ponse avant la fin juin 2009.</p>
</div>
{% include 'legacy/forumphp2009/pied_de_page.html.twig' %}
