{% extends 'legacy/forumphp2009/base.twig' %}
{% block content %}
<div id="cartouche-milieu">
	{% include 'legacy/forumphp2009/cartouche.html.twig' %}
    <h1>Faîtes buzzer le forum PHP 2009 !</h1>
    <p>	Vous aimez PHP et adorez l'AFUP !<br /> Alors pourquoi ne pas en parler autours de vous ?
    <br /><br />
    Rien de plus simple, nous vous mettons à disposition quelques liens biens pratiques

    
    <h3>Sur les réseaux sociaux : "#afup"</h3>
	<p>
    <table><tr><td>
    <a href="http://tweepml.org/Forum-PHP-2009/"><img src="/templates/forumphp2009/images/tweepml.png" align="absmiddle" border=0/></a>
    </td>
    <td>
    <br />
    <a href="http://tweepml.org/Forum-PHP-2009/">Suivez les participants du forum PHP 2009</a><br /><em>(contactez le <a href="mailto:bureau@afup.org">bureau</a> pour en faire partie)</em>
    </td>
    </tr></table>
    
<br /><br />
	
	<a href="http://twitter.com/home/?status=Je+participe+au+forum+PHP+2009%2C+et+vous+%3F+http%3A%2F%2Fwww.afup.org%2Fpages%2Fforumphp2009+%23afup">
   <img src="/templates/forumphp2009/images/twitter_32.png" align="middle" border=0/>
       <strong>
          Cliquez-ici pour mettre à jour votre statut Twitter
</strong>    
    </a>
    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://twitter.com/afup">Suivez l'afup sur twitter @afup</a>
    
    <br /><br /><br />
  <a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fwww.afup.org%2Fpages%2Fforumphp2009">
   <img src="/templates/forumphp2009/images/facebook_32.png" align="middle" border=0/>
       <strong>
          Cliquez-ici pour mettre à jour votre statut Facebook
      </strong>    
    </a> 
    </p>   
    <h3>Pour votre site</h3>
    <p>
    Intégrez l'une des deux images "<em>Forum PHP 2009, j'y serai !! et vous ?</em>" sur votre site ou votre blog.<br />
    N'oubliez de mettre un lien vers le site du forum <a href="https://afup.org/pages/forumphp2009">https://afup.org/pages/forumphp2009</a>
    <br /><br />
    <strong>Version paysage</strong>
    <br /><br />
    <a href="/templates/forumphp2009/images/bandeau_jy_serai_wide.png"><img src="/templates/forumphp2009/images/bandeau_jy_serai_wide.png" align="middle" border=0 /></a><br /><br />
    <strong>ou la version pav&eacute; (ou les deux ;) )</strong><br /><br />
    <a href="/templates/forumphp2009/images/bandeau_jy_serai.png"><img src="/templates/forumphp2009/images/bandeau_jy_serai.png" align="middle" border=0 /></a><br />
    </p>
    <h3>Ressources vectorielles</h3>
    
     <a href="/templates/forumphp2009/pdf/AFUP_LOGO_20081108_vector.pdf">Logo Afup</a><br />
     <a href="/templates/forumphp2009/pdf/cartouche-site.pdf">Bandeau Site</a><br />
     <a href="/templates/forumphp2009/pdf/bandeau_jy_serai.pdf">Forum PHP 2009, j'y serai !! et vous ?</a><br />
     <a href="/templates/forumphp2009/pdf/bandeau_jy_serai_wide.pdf">Forum PHP 2009, j'y serai !! et vous ? en wide</a><br />
    
  <p><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />&nbsp;
  </p>
</div>
{% endblock %}
