    <form id="form_etre_tenu_au_courant" name="form_etre_tenu_au_courant" method="post" action="inscription_rappel.php">
    <fieldset>
    <legend>&nbsp;Etre tenu au courant du Forum PHP 2009&nbsp;</legend>
    Adresse email : <input type="text" name="email" value="" />
    <input type="submit" name="envoyer" value="envoyer" />
    <br />
    <div class="note">
    	Note : seul l'AFUP vous enverra des emails avec cette adresse.
    	Il y en aura au maximum trois : annonce du programme, ouverture des inscriptions
    	et rappel juste avant que le Forum soit complet.
    </div>
    </fieldset>
    </form>
