<table class="afup_tab">
    <tr>
        <th>Votant</th>
        <th>Conférence</th>
        <th>Note</th>
        <th>Commentaire</th>
    </tr>
    {% for membre in membres %}
        <tr>
            <td>{{ membre.firstname }}</td>
        </tr>
    {% endfor %}
</table>