body { font-family : sans-serif; }
img { border : 0; }

#le-contenu { margin : 0 auto; width : 800px; border : 1px solid white; }

#les-billets { float : left; width : 540px; }
#les-billets .un-billet { padding : 10px; }
#les-billets span { margin-right : 1em; }
#les-billets .flux a { color : #31395A; text-decoration : none; font-weight : bold; }
#les-billets .flux a:hover { text-decoration : underline; }
#les-billets .auteur, #les-billets .date { color : #31395A; }
#les-billets h2 { font-size : 1.5em; margin-top : 0.3em; margin-bottom : 0.2em; }
#les-billets h2 a { color : #31395A; text-decoration : none; }
#les-billets h2 a:hover { text-decoration : underline; }
#les-billets .contenu { margin-bottom : 1em; }

#la-navigation { margin-left : 580px; margin-top : 150px; width : 200px; color : #31395A; }
#la-navigation a { color : #31395A; }
#la-navigation ul { list-style-type: none; padding : 0; }
#la-navigation h3 { font-size : 1em; margin-top : 4em; }
