imports:
    - { resource: config.yml }

parameters:
    database_host: "%env(DATABASE_HOST)%"

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            excluded_http_codes: [404]
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        syslog_handler:
            type: syslog
            level: error
        console:
            type:  console
