# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Github connection details
    github_client_id: id
    github_client_secret: secret

    algolia_app_id: DVB92YWTPE
    algolia_backend_api_key: 78e71e5r5c2Rb353f5a03376gb9878779
    algolia_frontend_api_key: 74e71e5r5c2Rb353f5a03376gb9878777

    twitter_oauth_access_token: ""
    twitter_oauth_access_token_secret: ""
    twitter_consumer_key: ""
    twitter_consumer_secret: ""

    mailchimp_api_key: ""
    mailchimp_members_list:
    mailchimp_subscribers_list:
