# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: ~

    slack_url: ""

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # GitHub's connection details
    github_client_id: id
    github_client_secret: secret

    algolia_app_id: DVB92YWTPE
    algolia_backend_api_key: 78e71e5r5c2Rb353f5a03376gb9878779
    algolia_frontend_api_key: 74e71e5r5c2Rb353f5a03376gb9878777

    home_algolia_enabled: false

    twitter_oauth_access_token: ""
    twitter_oauth_access_token_secret: ""
    twitter_consumer_key: ""
    twitter_consumer_secret: ""

    mailchimp_api_key: ""
    mailchimp_members_list:
    mailchimp_subscribers_list:
    mailchimp_techletter_list:
    mailchimp_techletter_api_key:
    mailchimp_techletter_webhook_key: "abc"

    trello_api_key: ""
    trello_token: ""

    google_maps_api_key: ""

    meetup_api_consumer_key: ""
    meetup_api_consumer_secret: ""

    techno_watch_calendar_url: "https://docs.google.com/spreadsheets/d/2cUeAk86Ov7BLYyn0Ad9ge3ecbsdboeQH64wIU9a9Zzp/export?format=csv"
    techno_watch_calendar_key: "9Yt0feebMyMrUWx"

    super_apero_csv_url: ""

    google_analytics_enabled: false
    google_analytics_id: "G-CHPWDR3C1M"

    techletter_test_email_address: "pole-veille@afup.org"

    slack_members_legacy_token: "aaaa-90909097"

    slack_api_url: "https://slack.com/api"
    slack_membre_token: ""

    # Test keys from https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha-what-should-i-do
    recaptcha_public_key: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'
    recaptcha_private_key: '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe'

    paybox_domain_server: "preprod-tpeweb.paybox.com"
    paybox_secret_key: "0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF"
    paybox_site: "1999888"
    paybox_rang: "32"
    paybox_identifiant: "110647233"

    blog_api_key: 123456
