legacy:
    resource: "routing/legacy.yml"

event:
    resource: "routing/event.yml"
    prefix:   /event

connection:
    resource: "routing/connection.yml"
    prefix: /connect

admin:
    resource: "routing/admin.yml"
    prefix: /admin

association:
    resource: "routing/site.yml"
    prefix: /association

talks:
    resource: "routing/talks.yml"
    prefix: /talks

meetups:
    resource: "routing/meetups.yml"
    prefix: /meetups

blog:
    resource: "routing/blog.yml"
    prefix: /blog

cms_page:
    resource: "routing/cms_page.yml"
    prefix: /p

news:
    resource: "routing/news.yml"
    prefix: /news

member:
    resource: "routing/member.yml"
    prefix: /member

techletter:
    resource: "routing/techletter.yml"
    prefix: /techno_watch

planete_php_api:
    resource: "routing/planete_php_api.yml"
    prefix: /planete-php-api

api:
    resource: "routing/api.yml"
    prefix: /api

badge_image:
    path: /profile/badge/{id}
    defaults: { _controller: AppBundle\Controller\Website\Badge\ImageAction }

company_public_profile_logo:
    path: /profile/company/{id}-{slug}/logo
    defaults: { _controller: AppBundle\Controller\Website\CompanyPublicProfile\LogoAction }

company_public_profile:
    path: /profile/company/{id}-{slug}
    defaults: { _controller: AppBundle\Controller\Website\CompanyPublicProfile\IndexAction }

company_public_profile_list:
    path: /profile/company
    defaults: { _controller: AppBundle\Controller\Website\CompanyPublicProfile\ListAction }
    options:
        sitemap: true

feed_rss:
    path: /rss.xml
    defaults: { _controller: AppBundle\Controller\Website\RssFeedController }
    options:
        sitemap: true

presta_sitemap:
    resource: "@PrestaSitemapBundle/config/routing.yml"

global:
    resource: "routing/global.yml"
