# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    twitter_api_settings:
        oauth_access_token: "%twitter_oauth_access_token%"
        oauth_access_token_secret: "%twitter_oauth_access_token_secret%"
        consumer_key: "%twitter_consumer_key%"
        consumer_secret: "%twitter_consumer_secret%"

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    my_github_authenticator:
        class: AppBundle\Security\MyGithubAuthenticator
        autowire: true

    github_user_repository:
        class: AppBundle\Event\Model\Repository\GithubUserRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\GithubUserRepository]

    app_twig:
        class: AppBundle\Twig\TwigExtension
        arguments: ["@app.legacy_router"]
        tags:
            -  { name: twig.extension }

    app.locale_listener:
        class: AppBundle\Listener\LocaleListener
        arguments: [ "%kernel.default_locale%" ]
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: 100 }

    app.legacy_listener:
        class: AppBundle\Listener\LegacySiteListener
        tags:
            - { name: kernel.event_listener, event: kernel.controller, priority: 100 }

    app.speaker_repository:
        class: AppBundle\Event\Model\Repository\SpeakerRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\SpeakerRepository]

    app.speaker_factory:
        class: AppBundle\CFP\SpeakerFactory
        arguments: ["@security.token_storage", "@app.speaker_repository"]

    app.talk_voter:
        class: AppBundle\Security\TalkVoter
        arguments: ["@app.speaker_repository"]
        tags:
          - { name: security.voter }
        public: false

    app.photo_storage:
        class: AppBundle\CFP\PhotoStorage
        arguments: ["%kernel.root_dir%/../htdocs/uploads/speakers", "/uploads/speakers"]

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    app.user_repository:
        class: AppBundle\Association\Model\Repository\UserRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Association\Model\Repository\UserRepository]

    app.talk_repository:
        class: AppBundle\Event\Model\Repository\TalkRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\TalkRepository]

    app.company_member_repository:
        class: AppBundle\Association\Model\Repository\CompanyMemberRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Association\Model\Repository\CompanyMemberRepository]

    app.legacy_authenticator:
        class: AppBundle\Security\LegacyAuthenticator
        autowire: true

    app.legacy_hash_authenticator:
        class: AppBundle\Security\LegacyHashAuthenticator
        autowire: true

    app.unique_validator:
        class: AppBundle\Validator\Constraints\UniqueEntityValidator
        autowire: true
        tags:
            - { name: validator.constraint_validator }

    app.legacy_model_factory:
        class: AppBundle\LegacyModelFactory

    app.company_subscription:
        class: AppBundle\Association\CompanyMembership\SubscriptionManagement
        autowire: true

    app.paybox_factory:
        class: AppBundle\Payment\PayboxFactory
        autowire: true

    app.slack_message_factory:
        class: AppBundle\Slack\MessageFactory
        autowire: true

    app.slack_notifier:
        class: AppBundle\Notifier\SlackNotifier
        arguments: ["%slack_url%", "@app.slack_message_factory", "@jms_serializer.serializer"]

    app.legacy_router:
        class: AppBundle\Routing\LegacyRouter
    app.algolia_client:
        class: AlgoliaSearch\Client
        arguments: [%algolia_app_id%, %algolia_backend_api_key%]

    app.joindin.comments:
        class: AppBundle\Joindin\JoindinComments
        arguments: ["@cache.system"]

    app.twitter_api:
        class: TwitterAPIExchange
        arguments: ["%twitter_api_settings%"]

    app.mailchimp_client:
        class: Mailchimp\Mailchimp
        arguments: ["%mailchimp_api_key%"]
        public: false

    app.mailchimp_api:
        class: AppBundle\Mailchimp\Mailchimp
        arguments: ["@app.mailchimp_client"]

    app.mail:
        class: Afup\Site\Utils\Mail

    app.invitation_mail:
        class: AppBundle\Association\CompanyMembership\InvitationMail
        autowire: true

    app.user_company:
        class: AppBundle\Association\CompanyMembership\UserCompany
        autowire: true

    app.mailchimp_event_listener:
        class: AppBundle\Mailchimp\EventListener
        arguments: ["@app.mailchimp_api", "%mailchimp_members_list%"]
        tags:
          - { name: kernel.event_listener, event: user.disabled, method: onUserDisabled }

    app.collection_filter:
        class: AppBundle\Model\CollectionFilter

    app.log_repository:
        class: AppBundle\Security\ActionThrottling\LogRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Security\ActionThrottling\LogRepository]

    app.invoice_repository:
        class: AppBundle\Event\Model\Repository\InvoiceRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\InvoiceRepository]

    app.action_throttling:
        class: AppBundle\Security\ActionThrottling\ActionThrottling
        autowire: true

    app.ticket_factory:
        class: AppBundle\Event\Model\TicketFactory
        autowire: true

    app.invoice_factory:
        class: AppBundle\Event\Model\InvoiceFactory
        autowire: true

    app.event_repository:
        class: AppBundle\Event\Model\Repository\EventRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\EventRepository]

    app.sponsor_ticket_repository:
        class: AppBundle\Event\Model\Repository\SponsorTicketRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\SponsorTicketRepository]

    app.ticket_repository:
        class: AppBundle\Event\Model\Repository\TicketRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\TicketRepository]

    app.ticket_event_repository:
        class: AppBundle\Event\Model\Repository\TicketEventTypeRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Event\Model\Repository\TicketEventTypeRepository]

    app.mailing_list_repository:
        class: AppBundle\Groups\Model\Repository\MailingListRepository
        factory: ["@ting", get]
        arguments: [AppBundle\Groups\Model\Repository\MailingListRepository]

    app.sponsor_ticket_helper:
        class: AppBundle\Event\Ticket\SponsorTicketHelper
        autowire: true

    app.sponsor_token_mail:
        class: AppBundle\Event\Ticket\SponsorTokenMail
        autowire: true

    app.ticket_availability:
        class: AppBundle\Event\Ticket\TicketTypeAvailability
        autowire: true

    app.ticket_form:
        class: AppBundle\Event\Form\TicketType
        autowire: true
        tags:
          - {name: form.type}

    app.legacy_country:
        class: Afup\Site\Utils\Pays
        factory: ["@app.legacy_model_factory", 'createObject']
        arguments:
          - 'Afup\Site\Utils\Pays'

    app.purchase_form:
        class: AppBundle\Event\Form\PurchaseType
        autowire: true
        tags:
          - {name: form.type}

    app.validator_logged_in:
        class: AppBundle\Event\Validator\Constraints\LoggedInMemberValidator
        autowire: true
        tags:
          - { name: validator.constraint_validator }

    app.validator_public:
        class: AppBundle\Event\Validator\Constraints\PublicTicketValidator
        autowire: true
        tags:
          - { name: validator.constraint_validator }

    app.validator_corporate:
        class: AppBundle\Event\Validator\Constraints\CorporateMemberValidator
        autowire: true
        tags:
          - { name: validator.constraint_validator }

    app.validator_available:
        class: AppBundle\Event\Validator\Constraints\AvailableTicketValidator
        autowire: true
        tags:
          - { name: validator.constraint_validator }

    app.event_ticket.purchase_type_factory:
        class: AppBundle\Event\Ticket\PurchaseTypeFactory
        autowire: true

    app.sponsorship_lead_mailer:
        class: AppBundle\Event\Sponsorship\SponsorshipLeadMail
        arguments: ["@app.mail", "@translator", "@logger", "%kernel.root_dir%/../htdocs/uploads/"]

    app.trello_client:
        class: Trello\Client
        calls: [["authenticate", ["%trello_api_key%", "%trello_token%", !php/const:Trello\Client::AUTH_URL_CLIENT_ID]]]

    app.trello_manager:
        class: Trello\Manager
        arguments: ["@app.trello_client"]

    app.lead_repository:
        class: AppBundle\Event\Model\Repository\LeadRepository
        autowire: true

    app.event_anonymous_export:
        class: AppBundle\Event\AnonymousExport
        autowire: true

    app.event_json_ld:
        class: AppBundle\Event\JsonLd
        autowire: true

    app.google_client:
        class: Google_Client
        calls:
          - ["setAuthConfig", ["%kernel.root_dir%/config/gestion-mailing-4c166d0d6b6a.json"]]
          - ["setScopes", [[!php/const:Google_Service_Directory::ADMIN_DIRECTORY_GROUP, !php/const:Google_Service_Directory::ADMIN_DIRECTORY_GROUP_READONLY]]]
          - ["setSubject", ['admin-mailing-listes-api@afup.org']]

    app.group_client:
        class: Google_Service_Directory
        arguments: ["@app.google_client"]

    app.group_repository:
        class: AppBundle\Groups\GroupRepository
        autowire: true
