# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    app.badge_dir: "%kernel.project_dir%/../htdocs/uploads/badges"
    app.members_logo_dir: "%kernel.project_dir%/../htdocs/uploads/members_logo"
    app.general_meetings_dir: "%kernel.project_dir%/../htdocs/uploads/general_meetings_reports"
    bluesky.api.identifier: "%bluesky_api_identifier%"
    bluesky.api.app_password: "%bluesky_api_app_password%"

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    _defaults:
        public: true

    _instanceof:
        AppBundle\SocialNetwork\Transport:
            autowire: true
            tags: [ 'app.social_network.transport' ]

        # @see \AppBundle\DependencyInjection\TingRepositoryPass
        CCMBenchmark\Ting\Repository\Repository:
            tags: [ 'app.vendor.ting_repository' ]

    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        public:    false
        arguments:
            - 'mysql:host=%database_host%;port=%database_port%;dbname=%database_name%'
            - db_username: '%database_user%'
              db_password: '%database_password%'
              lock_mode: !php/const Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler::LOCK_NONE

    Laminas\Feed\Reader\Http\ClientInterface: '@PlanetePHP\SymfonyFeedClient'

    AppBundle\:
        resource: '../../sources/AppBundle/'
        autowire: true
        autoconfigure: true
        public: false

    AppBundle\Command\:
        resource: '../../sources/AppBundle/Command/'
        autowire: true
        autoconfigure: true
        public: true

    AppBundle\Controller\:
        resource: '../../sources/AppBundle/Controller/'
        autowire: true
        autoconfigure: true
        public: true

    PlanetePHP\:
        resource: '../../sources/PlanetePHP'
        autowire: true
        autoconfigure: true
        public: false

    ### Pages legacy - DEBUT
    # Les anciennes pages ont besoin que certains services soient publics,
    # car récupérés via `$container->get()`. Ils sont listés ici :

    AppBundle\Event\Ticket\TicketTypeAvailability:
        autowire: true

    AppBundle\Event\Invoice\InvoiceService:
        autowire: true

    AppBundle\Event\Model\Repository\EventStatsRepository:
        autowire: true

    ### Pages legacy - FIN

    AppBundle\Controller\LegacyController:
        autowire: true
        autoconfigure: true
        public: false
        arguments:
            $backOfficePages: '%app.pages_backoffice%'

    AppBundle\Payment\PayboxFactory:
        autowire: true
        arguments: ["@router", "%paybox_domain_server%", "%paybox_secret_key%", "%paybox_site%", "%paybox_rang%", "%paybox_identifiant%"]

    AppBundle\Slack\LegacyClient:
        arguments: ["%slack_members_legacy_token%"]

    Algolia\AlgoliaSearch\SearchClient:
        factory: [ Algolia\AlgoliaSearch\SearchClient, create ]
        arguments: ["%algolia_app_id%", "%algolia_backend_api_key%"]

    # API/Client Meetup techletter
    app.mailchimp_techletter_client:
        class: DrewM\MailChimp\MailChimp
        arguments: ["%mailchimp_techletter_api_key%"]
        public: false
    app.mailchimp_techletter_api:
        class: AppBundle\Mailchimp\Mailchimp
        arguments: ["@app.mailchimp_techletter_client"]
        public: false

    # API/Client Meetup
    app.mailchimp_client:
        class: DrewM\MailChimp\MailChimp
        arguments: ["%mailchimp_api_key%"]
        public: false
    app.mailchimp_api:
        class: AppBundle\Mailchimp\Mailchimp
        arguments: ["@app.mailchimp_client"]
        public: false

    AppBundle\TechLetter\MailchimpSynchronizer:
        autowire: true
        arguments:
            $mailchimp: '@app.mailchimp_techletter_api'
            $listId: "%mailchimp_techletter_list%"

    AppBundle\Mailchimp\MailchimpMembersAutoListSynchronizer:
        autowire: true
        arguments:
            $mailchimp: '@app.mailchimp_api'
            $listId: "%mailchimp_members_list%"

    AppBundle\Email\Mailer\Adapter\MailerAdapter:
      class: AppBundle\Email\Mailer\Adapter\PhpMailerAdapter
      factory: [AppBundle\Email\Mailer\Adapter\PhpMailerAdapter, createFromEnv]

    AppBundle\Mailchimp\EventEventSubscriber:
        arguments:
            - '@app.mailchimp_api'
            - "%mailchimp_members_list%"
        tags:
          - { name: kernel.event_listener, event: user.disabled, method: onUserDisabled }

    CCMBenchmark\TingBundle\Repository\RepositoryFactory: '@ting'
    CCMBenchmark\Ting\UnitOfWork: '@ting.unitofwork'
    KnpU\OAuth2ClientBundle\Client\ClientRegistry: '@knpu.oauth2.registry'

    AppBundle\Event\Ticket\QrCodeGenerator:
        autowire: true
        arguments: ["%qr_code_salt%"]

    Afup\Site\Utils\LegacyConnectionFactory: ~
    Afup\Site\Utils\Base_De_Donnees:
        factory: '@Afup\Site\Utils\LegacyConnectionFactory'

    Afup\Site\Forum\AppelConferencier:
        autowire: true

    Afup\Site\Forum\Forum:
        autowire: true

    Afup\Site\Utils\Pays:
        autowire: true

    Afup\Site\Forum\Inscriptions:
        autowire: true

    Afup\Site\Association\CotisationsFactory:
        autowire: true

    Afup\Site\Forum\Facturation:
        autowire: true

    Afup\Site\Association\Cotisations:
        factory: ['@Afup\Site\Association\CotisationsFactory', 'create']

    Afup\Site\Comptabilite\Comptabilite:
        autowire: true

    Afup\Site\Comptabilite\Facture:
      autowire: true

    Afup\Site\Droits:
        autowire: true

    Parsedown:
        class: Parsedown
        autowire: true

    geocoder:
        class: Geocoder\StatefulGeocoder
        arguments: ['@geocoder_provider_google_maps']

    geocoder_provider_google_maps:
        class: Geocoder\Provider\GoogleMaps\GoogleMaps
        arguments: ['@Psr\Http\Client\ClientInterface', null, "%google_maps_api_key%"]

    AppBundle\Offices\OfficeFinder:
        arguments: ['@geocoder']

    AppBundle\Subscriber\SitemapXmlSubscriber:
        autowire: true
        tags:
            - { name: "kernel.event_subscriber", priority: 100 }

    AppBundle\Doctrine\ConnectionFactory: ~
    Doctrine\DBAL\Connection:
        factory: '@AppBundle\Doctrine\ConnectionFactory'
        arguments:
            $url: 'mysql://%database_user%:%database_password%@%database_host%:%database_port%/%database_name%?charset=utf8mb4'

    AppBundle\Github\GithubClient:
        arguments:
            $httpClient: '@http_client.github'

    AppBundle\Indexation\Meetups\MeetupClient:
        autowire: true
        arguments:
            $httpClient: '@http_client.meetup'

    AppBundle\SocialNetwork\Bluesky\BlueskyTransport:
        arguments:
            $httpClient: '@http_client.bluesky'
            $apiIdentifier: '%bluesky.api.identifier%'
            $apiAppPassword: '%bluesky.api.app_password%'

    AppBundle\VideoNotifier\Engine:
        autowire: true
        arguments:
            $transports: !tagged_iterator app.social_network.transport
