# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    app.badge_dir: "%kernel.project_dir%/../htdocs/uploads/badges"
    app.members_logo_dir: "%kernel.project_dir%/../htdocs/uploads/members_logo"
    app.general_meetings_dir: "%kernel.project_dir%/../htdocs/uploads/general_meetings_reports"
    bluesky.api.identifier: "%env(BLUESKY_API_IDENTIFIER)%"
    bluesky.api.app_password: "%env(BLUESKY_API_APP_PASSWORD)%"

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    _defaults:
        public: true

    _instanceof:
        AppBundle\SocialNetwork\Transport:
            autowire: true
            tags: [ 'app.social_network.transport' ]

        # @see \AppBundle\DependencyInjection\TingRepositoryPass
        CCMBenchmark\Ting\Repository\Repository:
            tags: [ 'app.vendor.ting_repository' ]

    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        public:    false
        arguments:
            - 'mysql:host=%env(DATABASE_HOST)%;port=%env(int:DATABASE_PORT)%;dbname=%env(DATABASE_NAME)%'
            - db_username: '%env(DATABASE_USER)%'
              db_password: '%env(DATABASE_PASSWORD)%'
              lock_mode: !php/const Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler::LOCK_NONE

    Laminas\Feed\Reader\Http\ClientInterface: '@PlanetePHP\SymfonyFeedClient'

    AppBundle\:
        resource: '../../sources/AppBundle/'
        autowire: true
        autoconfigure: true
        public: false

    AppBundle\Command\:
        resource: '../../sources/AppBundle/Command/'
        autowire: true
        autoconfigure: true
        public: true

    AppBundle\Controller\:
        resource: '../../sources/AppBundle/Controller/'
        autowire: true
        autoconfigure: true
        public: true

    PlanetePHP\:
        resource: '../../sources/PlanetePHP'
        autowire: true
        autoconfigure: true
        public: false

    ### Pages legacy - DEBUT
    # Les anciennes pages ont besoin que certains services soient publics,
    # car récupérés via `$container->get()`. Ils sont listés ici :

    AppBundle\Event\Ticket\TicketTypeAvailability:
        autowire: true

    AppBundle\Event\Invoice\InvoiceService:
        autowire: true

    AppBundle\Event\Model\Repository\EventStatsRepository:
        autowire: true

    ### Pages legacy - FIN

    AppBundle\Controller\LegacyController:
        autowire: true
        autoconfigure: true
        public: false
        arguments:
            $backOfficePages: '%app.pages_backoffice%'

    AppBundle\Payment\PayboxFactory:
        autowire: true
        arguments: ["@router", "%env(PAYBOX_DOMAIN_SERVER)%", "%env(PAYBOX_SECRET_KEY)%", "%env(PAYBOX_SITE)%", "%env(PAYBOX_RANG)%", "%env(PAYBOX_IDENTIFIANT)%"]

    AppBundle\Slack\LegacyClient:
        arguments: ["%env(SLACK_MEMBERS_LEGACY_TOKEN)%"]

    Algolia\AlgoliaSearch\SearchClient:
        factory: [ Algolia\AlgoliaSearch\SearchClient, create ]
        arguments: ["%env(ALGOLIA_APP_ID)%", "%env(ALGOLIA_BACKEND_API_KEY)%"]

    # API/Client Meetup techletter
    app.mailchimp_techletter_client:
        class: DrewM\MailChimp\MailChimp
        arguments: ["%env(MAILCHIMP_TECHLETTER_API_KEY)%"]
        public: false
    app.mailchimp_techletter_api:
        class: AppBundle\Mailchimp\Mailchimp
        arguments: ["@app.mailchimp_techletter_client"]
        public: false

    # API/Client Meetup
    app.mailchimp_client:
        class: DrewM\MailChimp\MailChimp
        arguments: ["%env(MAILCHIMP_API_KEY)%"]
        public: false
    app.mailchimp_api:
        class: AppBundle\Mailchimp\Mailchimp
        arguments: ["@app.mailchimp_client"]
        public: false

    AppBundle\TechLetter\MailchimpSynchronizer:
        autowire: true
        arguments:
            $mailchimp: '@app.mailchimp_techletter_api'
            $listId: "%env(MAILCHIMP_TECHLETTER_LIST)%"

    AppBundle\Mailchimp\MailchimpMembersAutoListSynchronizer:
        autowire: true
        arguments:
            $mailchimp: '@app.mailchimp_api'
            $listId: "%env(MAILCHIMP_MEMBERS_LIST)%"

    AppBundle\Email\Mailer\Adapter\MailerAdapter:
        class: AppBundle\Email\Mailer\Adapter\PhpMailerAdapter
        arguments:
            $smtpServer: '%env(SMTP_HOST)%'
            $tls: '%env(SMTP_TLS)%'
            $username: '%env(SMTP_USERNAME)%'
            $password: '%env(SMTP_PASSWORD)%'
            $port: '%env(SMTP_PORT)%'

    AppBundle\Mailchimp\EventEventSubscriber:
        arguments:
            - '@app.mailchimp_api'
            - "%env(MAILCHIMP_MEMBERS_LIST)%"
        tags:
          - { name: kernel.event_listener, event: user.disabled, method: onUserDisabled }

    CCMBenchmark\TingBundle\Repository\RepositoryFactory: '@ting'
    CCMBenchmark\Ting\UnitOfWork: '@ting.unitofwork'
    KnpU\OAuth2ClientBundle\Client\ClientRegistry: '@knpu.oauth2.registry'

    AppBundle\Event\Ticket\QrCodeGenerator:
        autowire: true
        arguments: ["%env(QR_CODE_SALT)%"]

    Afup\Site\Utils\LegacyConnectionFactory: ~
    Afup\Site\Utils\Base_De_Donnees:
        factory: '@Afup\Site\Utils\LegacyConnectionFactory'

    Afup\Site\Forum\AppelConferencier:
        autowire: true

    Afup\Site\Forum\Forum:
        autowire: true

    Afup\Site\Utils\Pays:
        autowire: true

    Afup\Site\Forum\Inscriptions:
        autowire: true

    Afup\Site\Association\CotisationsFactory:
        autowire: true

    Afup\Site\Corporate\Page:
        autowire: true

    Afup\Site\Forum\Facturation:
        autowire: true

    Afup\Site\Association\Cotisations:
        factory: ['@Afup\Site\Association\CotisationsFactory', 'create']

    Afup\Site\Comptabilite\Comptabilite:
        autowire: true

    Afup\Site\Comptabilite\Facture:
      autowire: true

    Afup\Site\Droits:
        autowire: true

    Parsedown:
        class: Parsedown
        autowire: true

    geocoder:
        class: Geocoder\StatefulGeocoder
        arguments: ['@geocoder_provider_google_maps']

    geocoder_provider_google_maps:
        class: Geocoder\Provider\GoogleMaps\GoogleMaps
        arguments: ['@Psr\Http\Client\ClientInterface', null, "%env(GOOGLE_MAPS_API_KEY)%"]

    AppBundle\Offices\OfficeFinder:
        autowire: true
        arguments: ['@geocoder']

    AppBundle\Subscriber\SitemapXmlSubscriber:
        autowire: true
        tags:
            - { name: "kernel.event_subscriber", priority: 100 }

    AppBundle\Doctrine\ConnectionFactory: ~
    Doctrine\DBAL\Connection:
        factory: '@AppBundle\Doctrine\ConnectionFactory'
        arguments:
            $url: 'mysql://%env(DATABASE_USER)%:%env(DATABASE_PASSWORD)%@%env(DATABASE_HOST)%:%env(DATABASE_PORT)%/%env(DATABASE_NAME)%?charset=utf8mb4'

    AppBundle\Github\GithubClient:
        arguments:
            $httpClient: '@http_client.github'

    AppBundle\Indexation\Meetups\MeetupClient:
        autowire: true
        arguments:
            $httpClient: '@http_client.meetup'

    AppBundle\SocialNetwork\Bluesky\BlueskyTransport:
        arguments:
            $httpClient: '@http_client.bluesky'
            $apiIdentifier: '%bluesky.api.identifier%'
            $apiAppPassword: '%bluesky.api.app_password%'

    AppBundle\VideoNotifier\Engine:
        autowire: true
        arguments:
            $transports: !tagged_iterator app.social_network.transport
