@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,700,300|Belgrano);

body {
    font-family : sans-serif;
    margin: 0;
}

img {
    border : 0;
}

a, a:visited {
    color: #000;
}

#le-contenu > .container > h2 {
    margin: 15px 0 10px 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

#en-tete {
    background-color: #36a7df;
    margin: 0 auto;
    height: 40px;
    font-family: Roboto, Helvetica, sans-serif;
}


.en-tete-title {
    margin: 0 50px 0 0;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.en-tete-links {
    margin: 0 50px 0 60px;
    display: inline-block;
}

a.en-tete-link, .en-tete-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

#le-contenu {
    margin : 0 auto;
    border : 1px solid white;
}

#les-billets .un-billet {
    padding : 10px;
}

#les-billets span {
    margin-right : 1em;
}

#les-billets .flux a {
    color : #31395A;
    text-decoration : none;
    font-weight : bold;
}

#les-billets .flux a:hover {
    text-decoration : underline;
}

#les-billets .auteur, #les-billets .date {
    color : #31395A;
}

#les-billets h3 {
    font-size : 1.5em;
    margin-top : 0.3em;
    margin-bottom : 0.2em;
    font-family: Roboto, Helvetica, sans-serif;
}

#les-billets h3 a {
    color : #31395A;
    text-decoration : none;
}



#les-billets .contenu {
    width: 95%;
    margin: 0 auto 1em auto;
}

#les-billets .contenu img {
    max-width: 100%;
}

#les-billets .contenu pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

#les-billets h3.titre {
    background-color: #1d2241;
    padding: 10px;
}

#les-billets h3.titre a {
    color: #fff;
}

#les-billets h3.titre a:hover {
    text-decoration : underline;
}

.btn {
    border: 1px solid #666;
    padding: 10px;
    text-decoration: none;
    margin: 10px auto 0 auto;
    display: block;
    text-align: center;
    width: 70%;
    color: #000;
}

@media screen and (max-width: 640px) {
    #en-tete {
        height: auto;
    }
    .en-tete-title {
        text-align: center;
        display: block;
        margin: 0;
    }
    .en-tete-links {
        display:block;
        margin: 0;
    }
}
