<div class="ui green segment">
{{ form_start(form) }}
<div class="ui form">
    <div class="inline fields">
        <div class="field">
            {{ form_label(form.periodId) }}
            {{ form_widget(form.periodId) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
</div>
