{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Votes des visiteurs</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    {% if votes|length > 0 %}
    <table class="ui table striped very compact celled">
        <thead>
                <tr>
                    <th>Votant</th>
                    <th>Conférence</th>
                    <th class="right aligned">Note</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
        <tbody>
            {% for vote in votes %}
                <tr>
                    <td>{{ vote.githubUser.login }}</td>
                    <td>{{ vote.talk.title }}</td>
                    <td class="right aligned">{{ vote.vote }}</td>
                    <td>{{ vote.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="meh outline icon"></i>
                Aucun vote.{% if event == null %} Essayez de changez d'évènement.{% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
