.editor-styles-wrapper {
  //<editor-fold desc="Title Generic">
  .editor-post-title__block .editor-post-title__input {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 42px;
    color: $color-secondary;
  }
  //</editor-fold>
}
