<div class="ui clearing divider"></div>
<div class="inline fields ui grid">
    <div class="three wide column"></div>
    <div class="field nine wide column">Nouvelle question</div>
    <div class="four wide column action_container"></div>
</div>
{{ form_row(form.questions.vars.prototype.question) }}
{{ form_row(form.questions.vars.prototype.reponse) }}
