{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Abonnés</h2>

    <div class="ui segment">
        <div class="ui mini horizontal statistic">
            <div class="value">
                {{ subscribers|length }}
            </div>
            <div class="label">
                abonnés
            </div>
        </div>
    </div>

    <table class="ui table striped compact celled">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date d'enregistrement</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscribers %}
            <tr class="{% if loop.index is even %}even{% endif %}">
                <td>{{ subscription.user.label }}</td>
                <td>{{ subscription.subscriptionDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
