{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Ma participation à l'Assemblée Générale du {{ date_general_meeting }}</h2>

    <p>A ce jour, aucune nouvelle Assemblée Générale n'est prévue.</p>

{% endblock %}
