{% extends ':site:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% include ':admin/association/membership:_member_menu.html.twig' with {
        current: "generalmeeting"
    } only %}

    <div class="mw1400p center" id="container">
        <div class="line" id="main">

            <h1>Assemblée générale</h1>

            <p>A ce jour, aucune nouvelle Assemblée Générale n'est prévue.</p>
        </div>
    </div>

{% endblock %}
