{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':admin/association/membership:_member_menu.html.twig' with {
        current: "generalmeetingreports"
    } only %}
{% endblock %}

{% block page_title %}Comptes rendus d'AG{% endblock %}

{% block page_content %}
    <style>
        .afup-table {
            border-spacing: 2px;
            border-collapse: collapse;
            background-color: #ffffff;
            border: 1px solid #50a0dd;
        }

        .afup-table th {
            background: #50a0dd;
            color: #ffffff;
            padding:5px;
            border-left: 1px solid #ffffff;
        }

        .afup-table tbody tr:nth-child(2n+1) {
            background: #eee;
        }
    </style>

    {% if app.user.hasRole('ROLE_MEMBER_EXPIRED') %}
        Les comptes rendus ne sont accessibles qu'aux membres à jour de cotisation.
    {% else %}
    <table class="afup-table">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
            {% for report in reports %}
                <tr>
                    <td>
                        {{ report.date|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ report.label }}
                    </td>
                    <td>
                        <a class="button button-inverted button__medium" href="{{ path('member_general_meeting_reports_download', {filename: report.filename}) }}">
                            <i class="fa fa-file"></i>
                            Télécharger
                        </a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    {% endif %}
{% endblock %}
