{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':admin/association/membership:_member_menu.html.twig' with {
        current: "generalmeeting"
    } only %}
{% endblock %}

{% block page_title %}Assemblée générale{% endblock %}

{% block page_content %}
    <p>A ce jour, aucune nouvelle Assemblée Générale n'est prévue.</p>
{% endblock %}
