{% extends ':admin:base_with_header.html.twig' %}

{% block stylesheets %}
   <!-- <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all" />-->
{% endblock %}
{% block content %}
    <article id="company-membership">
        <h2>Mes coordonnées</h2>
        {{ form_start(form) }}

        {{ form_end(form) }}
    </article>
{% endblock %}