<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="php, expertise, décideur, chef de projet, développeur, afup, rendez-vous" lang="fr"/>
    <link rel="stylesheet" href="/templates/rendezvous/style.css" type="text/css" media="all"/>
    <title>Une soirée thématique pour autour de PHP, pour les décideurs, les chefs de projet et les développeurs : les rendez-vous AFUP</title>
</head>
<body>
<div id="conteneur">
    {% block content %}{% endblock %}
    <div class="archives">
        <br/><br/>
        <a href="{{ path('home') }}" title="AFUP">AFUP</a>
        -
        <a href="{{ path('legacy_rendezvous') }}" title="Rendez-vous à venir">Rendez-vous à venir</a>
        -
        <a href="{{ path('legacy_rendezvous_archives') }}" title="Archives des rendez-vous">Archives</a>
        <br/><br/>
    </div>
</div>
</body>
</html>
