{% extends 'legacy/rendezvous/layout.html.twig' %}

{% block content %}
    {% include 'legacy/rendezvous/rendezvous-accroche.html.twig' %}

    {% if message is defined and resultat is defined %}
        <div class="message {{ resultat }}">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}
