{% extends 'legacy/rendezvous/layout.html.twig' %}

{% block content %}
    <div class="message">
        {% if rendezvous is defined and rendezvous.est_futur %}
            Auncun rendez-vous n'est prévu pour l'instant. Désolé...
        {% else %}
            Aucun rendez-vous trouvé. Désolé...
        {% endif %}
    </div>
{% endblock %}
