{% extends 'legacy/rendezvous/layout.html.twig' %}

{% block content %}
    {% include 'legacy/rendezvous/rendezvous.html.twig' %}

    {% if message is defined and resultat is defined %}
        <div class="message {{ resultat }}">
            {{ message }}
        </div>
    {% endif %}

    <div>
        {include file="formulaire.html"}
    </div>
{% endblock %}
