{% extends 'legacy/rendezvous/layout.html.twig' %}

{% block content %}
    {% include 'legacy/rendezvous/rendezvous.html.twig' %}

    <div class="message erreur">
        <div>Désolé le rendez-vous est déjà complet.</div>
    </div>
{% endblock %}
