.page-header {
  .container,
  .author,
  .author a,
  .hestia-title,
  .title,
  .description {
    color: #fff;
  }
}
.page-content-wrap:after, .single-post-wrap:after {
  content: "";
  display: table;
  clear: both;
}

#parallax_move ~ .item .page-header,
#wp-custom-header ~ .item .page-header {
  overflow: inherit;
}

.page-header {
  will-change: transform;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  background-position: center center;
  background-size: cover;

  .container {
    padding-top: 30vh;
    color: #fff;
    .hestia-title,
    .title {
      margin: 0 0 20px;
    }
  }

  &.header-small .container {
    .hestia-title,
    .title {
      margin: 20px 0 10px;
    }
  }
}

.page-header {
  &.header-small {
    min-height: 300px;
    position: relative;
    height: auto;

    .container {
      padding-top: 180px;
      padding-bottom: 110px;
    }

    .hestia-title,
    .title {
      font-family: $primary-font;
    }
  }
}

.boxed-layout-header {
  padding-bottom: 60px;
}

.header-filter-gradient{
  background: linear-gradient(45deg, rgba(168,29,132,1) 0%, rgba(234,57,111,1) 100%);
}

.header-filter.header-filter-gradient:before {
  background-color: transparent;
}

.header-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  &:before, &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container {
    position: relative;
  }
}

.carousel .header-filter {
  &:before, &:after {
    z-index: -1;
  }
}

.clear-filter:before {
  display: none;
}

.header {
  .wrapper {
    background: #ccc;
  }
  .btn {
    margin: 0;
  }
  h6 {
    margin-bottom: 0;
  }
}

.phone-container img {
  width: 100%;
}

.main {
  position: relative;
  background: #fff;
}

.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.home .main-raised section:first-of-type {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.page-template-template-pagebuilder-blank .section {
  padding: 0;
}

.woocommerce.archive .main-raised, .single .main-raised {
  margin-top: -60px;
  margin-bottom: 30px;
}

.single .main-raised.classic-blog {
  margin-top: 0;
}

.content-sidebar-left {
  padding-left: 30px;
  padding-right: 0;
}

.content-sidebar-right {
  padding-right: 30px;
  padding-left: 0;
}

.shop-sidebar-wrapper {
  padding: 0;
}

.content-full.col-md-12 {
  padding: 0;
}

.page:not(.home) .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .blog-post {
      flex: 1 0 auto;
    }
  }
}
body:not(.home) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main {
      @include stick-footer-to-bottom();

      .hestia-blogs {
        flex: 1 0 auto;
      }
    }
    .content-area {
      @include stick-footer-to-bottom();
    }
  }
}
