/*---------------------------------------------------------
 MP6 styles (html-builder-mp6.css)
-------------------------------------------------------- */
/* Custom breakpoints for new sidebar width */
@media screen and (min-width: 1160px) {
	.mp6 .basis-menu-product-list-item {
		width: 100%;
	}
}
@media screen and (min-width: 1260px) {
	.mp6 .basis-menu-product-list-item {
		width: 50%;
	}
}
/* Removing border radius from all elements */
.mp6 #basis_builder_product *,
.mp6 #basis_builder_slideshow * {
	border-radius: 0;
}
/* Removing links */
.mp6 .basis-section-remove {
	color: #a00;
	padding: 0;
	color: #a00;
	border-bottom: 0;
	text-decoration: none;
}
/* Removing links hover state */
.mp6 .basis-section-remove:hover {
	color: #ff0000;
	background: none;
}
/* Placeholder text */
.mp6 ::-webkit-input-placeholder {
	line-height: 1.4em;
}
/* Section headers */
.mp6 .basis-section-header h3 {
	background: #e9e9e9;
	font-family: 'Open Sans', sans-serif !important;
}
/* Sections */
.mp6 .basis-section {
	background: #eeeeee;
}
/* Featured image background */
.mp6 .basis-media-uploader-placeholder {
	background-color: #e9e9e9;
	border: 1px solid #dfdfdf;
}
/* Removing background arrow for handle */
.mp6.js .meta-box-sortables .postbox .basis-section .handlediv {
	background: none;
}
/* Section toggle arrow styling */
.mp6 .meta-box-sortables .postbox:hover .basis-stage .handlediv:before {
	content: ''; /* Important for making sure two arrows are not displayed */
}
.mp6 .meta-box-sortables .postbox:hover .basis-stage .basis-section .basis-section-header:hover .handlediv:before {
	content: '\f140';
}
.mp6 .meta-box-sortables .postbox:hover .basis-stage .basis-section.basis-section-open .basis-section-header:hover .handlediv:before {
	content: '\f142';
}
.mp6 .basis-section-toggle .handlediv {
	right: 0;
}