{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
   <h2>Liste des rubriques</h2>

    <div class="ui menu">
        <a href="{{ path('admin_site_rubrique_add') }}" class="item">
            <div data-tooltip="Ajouter une rubrique" data-position="bottom left">
                <i class="icon plus square"></i>
                Ajouter
            </div>
        </a>
    </div>

    <div class="ui segment">
        <form method="GET" name="filtre">
            <input type="hidden" name="page" value="site_rubriques" />
            <input type="hidden" name="sort"  value="{{ sort }}" />
            <input type="hidden" name="direction" value="{{ direction }}" />
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label>Recherche</label>
                        <input type="text" name="filtre" value="{$smarty.get.filtre|stripslashes}">
                    </div>
                    <div class="field">
                        <input type="submit" value="Filtrer" class="ui button" name="submit_filtre" />
                    </div>
                </div>
            </div>
        </form>

        <table class="ui table striped compact celled">
            <thead>
            <tr>
                <th><a href="index.php?page=site_rubriques&amp;tri=date&amp;sens={if $smarty.get.sens == 'asc' && $smarty.get.tri == 'date'}desc{else}asc{/if}">Date</a></th>
                <th><a href="index.php?page=site_rubriques&amp;tri=nom&amp;sens={if $smarty.get.sens == 'asc' && $smarty.get.tri == 'nom'}desc{else}asc{/if}">Nom</a></th>
                <th class="center aligned"><a href="index.php?page=site_rubriques&amp;tri=etat&amp;sens={if $smarty.get.sens == 'asc' && $smarty.get.tri == 'etat'}desc{else}asc{/if}">Etat</a></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {foreach from=$rubriques item=rubrique}
            <tr>
                <td>{$rubrique.date|date_format:"%d/%m/%Y"}</td>
                <td style="white-space : normal;">{$rubrique.nom}</td>
                <td class="center aligned">
                    {if $rubrique.etat == 1}
                        <a class="ui orange label">En ligne</a>
                    {elseif $rubrique.etat == -1}
                        <a class="ui grey label">Hors ligne</a>
                    {else}
                        <a class="ui violet label">En attente</a>
                    {/if}
                </td>
                <td class="single line right aligned">
                    <a id="modifier_{$rubrique.id}"
                       href="index.php?page=site_rubriques&amp;action=modifier&amp;id={$rubrique.id}"
                       data-position="left center"
                       data-tooltip="Modifier l'rubrique {$rubrique.nom}"
                       class="compact ui icon button"
                    >
                        <i class="pencil alernate icon"></i>
                    </a>

                    <a id="supprimer_{$rubrique.id}"
                       href="index.php?page=site_rubriques&amp;action=supprimer&amp;id={$rubrique.id}"
                       data-position="left center"
                       data-tooltip="Supprimer l'rubrique {$rubrique.nom}"
                       class="compact ui red icon button confirmable"
                       data-confirmable-label="Etes-vous sûr de vouloir supprimer la rubrique {$rubrique.nom} ?"
                    >
                        <i class="trash icon"></i>
                    </a>

                </td>
            </tr>
        {foreachelse}
            <tr>
                <td><em>Aucune rubrique</em></td>
            </tr>
            </tbody>
        {/foreach}
        </table>

    </div>
{else}
    {if $action == 'ajouter'}
        <h2>Ajouter une rubrique</h2>
    {else}
        <h2>Modifier une rubrique</h2>
    {/if}
    {include file="formulaire.html"}
{/if}
{% endblock %}
