{% extends ':site:base.html.twig' %}
{% block inner_content %}
    <article id="company-membership">
        <h1>Inscription à la newsletter de l'AFUP</h1>
        {% if success %}
            <p>Merci de votre inscription !</p>
            <p style="font-weight: 800">Afin que l'inscription soit effective, merci de confirmer celle-ci dans l'email que vous allez recevoir.</p>
            <p>La newsletter est envoyée à un rythme trimestriel, en janvier, mars, juillet et septembre.</p>
        {% else %}
            <p>Une erreur est survenue lors de l'enregistrement de votre adresse. Vous pouvez essayer un peu plus tard
                ou nous avertir à bonjour [at] afup.org</p>
        {% endif %}
    </article>
{% endblock %}
