{% extends ':site:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/techletter.css') }}" media="screen" />
{% endblock %}

{% block content %}

<div class="techletter-subscription" id="container">
    <div class="techletter-subscription--header">
        <div class="techletter-subscription-capture">
            <img src="{{ asset('images/techletter/sample.png') }}" />
        </div>
        <div class="techletter-subscription-header-content">
            <h2>Bravo !</h2>
            <p>
                Vous &ecirc;tes désormais inscrit à la techletter de l'AFUP !
            </p>
        </div>
    </div>
</div>
{% endblock %}
