@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700');

@import "0_base/variables";
@import "0_base/mixins";
@import "0_base/placeholders";
@import "1_typography/typography-main";
@import "2_elements/tables";
@import "4_blog/content";

h1 {
  font-size: 42px;
}

h2 {
  font-size: 37px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 18px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 21px;
  }

  h6{
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 15px;
  border-left: 5px solid #eee;

  p {
    margin: 0;
  }
}

.mce-item-table {
  border-collapse: collapse;
  border-spacing: 0;

  &,
  td,
  th,
  caption {
    border: none;
  }

  tr {
    > th,
    > td {
      border-bottom-width: 1px;
      border-bottom: 1px solid #ddd;
    }
  }
}

body {
  box-sizing: border-box;
  font-size: 18px;
  max-width: 750px;
  padding: 10px;
  width: 66.66666667%;
}

@media (max-width: 992px) {
  body {
    max-width: 100%;
    width: 100%;
  }
}