{% extends 'legacy/forumphp2009/base.twig' %}

{% block content %}
        <div id="cartouche-milieu">
{% include 'legacy/forumphp2009/cartouche.html.twig' %}
          <script type="text/javascript" src="../templates/forumphp2008/jquery-1.2.6.min.js"></script>
          <script type="text/javascript" src="../templates/forumphp2008/jquery.journee.js"></script>
          <h1>
            Le programme des deux jours
          </h1>
          <h2>Les horaires</h2>
          <ul>
            <li>Le jeudi ouverture des portes 9h00, d&eacute;but des sessions : 9h30</li>
            <li>Le vendredi ouverture des portes 8h30, d&eacute;but des sessions : 9h00</li>
            <li>fin des sessions : vers 17h30</li>
            <li>Fermeture du Forum : vers 18h30</li>
          </ul>
          <div class="bloc_jour">
{{ agenda|raw }}
          </div>
        </div>
{% endblock %}
