{% extends 'legacy/forumphp2009/base.twig' %}

{% block content %}
<div id="cartouche-milieu">
	{% include 'legacy/forumphp2009/cartouche.html.twig' %}
    <h1>Adresse</h1>
    <p>	<span class="texte">Cité des Sciences et de l'Industrie<br />
 

  30, avenue Corentin-Cariou<br />
    75019 Paris <br />
  Tél. : 01 40 05 70 00 <br />
    <a href="{{ path('legacy_event', {year: 2009, page: 'acces.php'}) }}">[Acces] </a></span></p>

	<h2>Responsables Forum PHP 2009</h2>
	<p><strong>Xavier Gorse</strong><br />
    Contact : <a href="mailto:bureau@afup.org">bureau@afup.org</a><br />
    Contact t&eacute;l&eacute;phonique : 06 73 47 40 53</p>
    
    <h3>Responsable inscriptions</h3>
	<p><strong>Christophe VILLENEUVE</strong><br />
    Contact : <a href="mailto:inscriptions@afup.org">inscriptions@afup.org</a><br />
    Contact t&eacute;l&eacute;phonique : 06 98 27 96 52</p>

    <h3>Attach&eacute;e de presse</h3>
    <p>AL'X Communication - V&eacute;ronique LOQUET<br />
    Contact : <a href="mailto:vloquet@alx-communication.com">vloquet@alx-communication.com</a><br />
    Contact t&eacute;l&eacute;phonique : 06 68 42 79 68<br />
    </p>

	<h3>Espace Presse</h3>
    <p>Un espace r&eacute;serv&eacute; &agrave; la presse 
    vous permettra d'interviewer les principales figures du monde PHP 
    pr&eacute;sentes &agrave; ce salon. N'h&eacute;sitez pas &agrave; 
    nous contacter pour r&eacute;server un cr&eacute;neau horaire.</p>

  <p><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />&nbsp;
  </p>
</div>
{% endblock %}
