{% extends 'legacy/forumphp2009/base.twig' %}
{% block content %}
<div id="cartouche-milieu">
	{% include 'legacy/forumphp2009/cartouche.html.twig' %}
    <h1>Rendez-vous en 2010</h1>
    <p>
    	D&eacute;sol&eacute; mais le Forum PHP 2009 est fini ;-)
    </p>
	<p>
		A l'ann&eacute;e prochaine...
	</p>
</div>
{% endblock %}
