{% extends 'site/base.html.twig' %}
{% block inner_content %}
    <div class="col-md-8">
        <h2>Paiement de votre cotisation</h2>
        <div>
            <p>
                {% if payboxResponse.successful %}
                    Le paiement de votre cotisation s'est bien passé, merci.
                {% elseif return_type == 'refused' %}
                    Votre paiement a été refusé.<br>
                    Aucun montant n'a &eacute;t&eacute; pr&eacute;lev&eacute;.
                {% elseif return_type == 'canceled' %}
                    Votre paiement a &eacute;t&eacute; annul&eacute;.<br>
                    Aucun montant n'a &eacute;t&eacute; pr&eacute;lev&eacute;.
                {% elseif return_type == 'error' %}
                    Il y a eu une erreur lors de l'enregistrement de votre cotisation.
                {% endif %}
            </p>
            <p>
                Si vous avez la moindre question, n'hésitez pas à contacter <a href="mailto:bonjour@afup.org">bonjour@afup.org</a>.
            </p>
        </div>
    </div>
{% endblock %}
