@media (max-width: 1200px) {
  .woocommerce {
    &.archive {
      .blog-post .col-md-12 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .woocommerce {
    .content-sidebar-left,
    .content-sidebar-right {
      padding: 0 15px;
    }

    .before-shop-main {
      padding-left: 15px;
      padding-right: 15px;
      margin: 20px 0 25px;
    }

    .page-header .container .row .cart-contents-content {
      right: 30px;
    }
  }

  .single-product {
    .page-header {
      .container .row .cart-contents-content {
        right: 15px;
      }
    }
  }

  /* product list */
  .woocommerce-ordering,
  .woocommerce-ordering select {
    margin-right: 0;
  }
  .woocommerce-breadcrumb {
    width: 100%;
    margin-bottom: 20px;
  }

  /*My Account Styling*/
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation ul li {
    display: table-cell;
    border: none;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation ul {
    display: table;
    width: 100%;
    margin: 0 0 25px;
    border: none;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    display: block;
  }

  .woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
    margin-left: 0;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation ul li a:before {
    margin-right: 5px;
    opacity: 0.25;
  }

  .woocommerce-account input.woocommerce-Button.button {
    height: auto;
    margin-top: 10px;
    padding: 8px 37px;
    border: none;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .woocommerce-account input.woocommerce-Button.button:hover {
    background: rgba(17, 17, 17, 0.8);
  }

  .woocommerce-checkout {
    table.shop_table th.product-total,
    table.shop_table td.product-total,
    table.shop_table tfoot td {
      text-align: right;
    }
  }

  .woocommerce {
    // Single product
    &.single-product {
      .product {
        .images {
          margin-bottom: 30px;
        }

        form.cart {
          margin-top: 30px;
        }
      }

      .related.products,
      .exclusive-products{
        padding-bottom: 0;

        h2 {
          margin-bottom: 35px;
        }
      }

      .upsells.products {
        padding-bottom: 0;

        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }

  .woocommerce-cart {
    .blog-post {
      .woocommerce {
        .woocommerce-cart-form {
          float: left;
          width: 100%;
        }

        .cart-collaterals {
          float: left;
          margin-top: 0px;
          width: 100%;

          .cart_totals {
            width: 100%;
          }
        }
      }
    }

    table.shop_table_responsive tr:nth-child(2n) td {
      background: transparent;
    }
  }
}

@media (max-width: 768px) {
  .woocommerce.single-product .product .images, .woocommerce.single-product .product .summary {
    width: 100%;
  }
  .woocommerce.single-product .product .summary {
    padding-left: 0;
  }
  .woocommerce.single-product .related ul.products {
    margin: 0;
  }
  .woocommerce-product-search input.search-field {
    width: 85%;
  }

  .nav-cart.responsive-nav-cart {
    display: inline-block;
  }

  .admin-bar {
    &.woocommerce-cart, &.woocommerce-checkout {
      .blog-post {
        padding-top: 0;
      }
    }
  }
    // Cart
  .woocommerce-cart {
    .blog-post {
      padding-top: 40px;
    }
    .wrapper{
      &.no-content, &.classic-blog{
        .page-header{
          display: none;
        }
      }
    }

    .section {
      padding: 30px 0 0;

      &.section-blog-info:empty {
        padding: 0;
      }
    }

    table.cart td.actions {
      background: none !important;
    }

    table.shop_table {
      td.product-name {
        dl.variation {
          dd,
          dt {
            margin-bottom: 0;
          }
        }
      }
      td.product-remove {
        float: right;
        position: relative;
        top: 5px;
        width: auto;
        border-top: none;
      }
    }

    .cart-collaterals {
      margin-bottom: 0;
    }

    .wc-proceed-to-checkout {
      padding: 1em 0 0;
    }
  }

  // Checkout
  .woocommerce-checkout {
    .blog-post {
      padding-top: 40px;
    }
    .wrapper{
      &.no-content, &.classic-blog{
        .page-header{
          display: none;
        }
      }
    }
    .section {
      padding: 20px 0 0;
    }

    .woocommerce-billing-fields {
      h3 {
        margin-top: 0;
      }
    }

    td.product-name {
      dl.variation {
        dt,
        dd {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  /* Woocommerce */
  .woocommerce .page-header .container {
    padding-top: 170px;
  }

  .woocommerce-page.woocommerce-cart {
    ul.products li.product {
      max-width: 370px;
      width: 100%;
    }
  }

  .woocommerce {
    .page-header {
      min-height: 200px;

      .container .row .cart-contents-content {
        right: 10px;
      }
    }
  }

  .single-product {
    .page-header {
      .container .row .cart-contents-content {
        right: 15px;
      }
    }
  }

  /*My Account Styling*/
  .woocommerce-account .woocommerce-MyAccount-navigation ul li {
    display: inline-block;
    min-width: 125px;
    border: none;
  }
  .woocommerce-account .woocommerce-MyAccount-navigation ul {
    display: table;
    width: 100%;
    margin: 0 0 25px;
    border: none;
  }
  .woocommerce .col2-set, .woocommerce-page .col2-set {
    width: auto;
    float: none;
    margin-right: 0;
  }
  #order_review, #order_review_heading {
    float: none;
    width: auto;
  }

  .woocommerce.single-product {
    .product {
      .images,
      .summary,
      .hestia-product-image-wrap{
        width: 100%;
        position: relative;
        clear: both;
      }

      .summary {
        padding-left: 0;
      }

      span.onsale {
        left: -5px;
        top: -5px;
      }
    }

    &.header-layout-classic-blog{
      .blog-post {
        .col-md-12 {
          padding: 0;
          > div[id^=product].product {
            padding: 30px 15px 30px 15px;
          }
        }
      }
    }

    .blog-post {
      .col-md-12 {
        padding: 0;
        > div[id^=product].product {
          padding: 99px 15px 30px 15px;
          border-radius: 0;
          margin-top: 0;
        }
      }
    }
    .page-header {
      display: none;
    }

    &.admin-bar {
      .navbar.navbar.navbar-not-transparent.header-with-topbar {
        top: 40px;
      }
    }
  }

  .woocommerce.single-product.single .section {
    padding: 0;
  }

  .woocommerce .cart-collaterals {
    margin-top: 0;

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
    }

    .cross-sells,
    .cart_totals,
    .cross-sells ul.products li {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .woocommerce.single-product {
    &.admin-bar {
      .navbar.navbar-not-transparent.header-with-topbar {
        margin-top: 0;

        &.navbar-scroll-point {
          top: 32px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .woocommerce .widget_shopping_cart_content a.button {
    padding: 12px 18px;
  }

  .woocommerce-cart,
  .woocommerce-checkout {
    .col-md-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 600px) {
  .woocommerce.single-product {
    &.admin-bar {
      .navbar.navbar.navbar-not-transparent {
        top: 0;
        &.header-with-topbar {
          top: 40px;

          &.navbar-scroll-point {
            top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {

  /*My Account Styling*/
  .woocommerce-account .woocommerce-MyAccount-navigation ul li {
    width: 50%;
  }
  .woocommerce-account .my_account_orders .button {
    display: block;
  }

  .woocommerce span.onsale {
    left: -5px;
    top: -5px;
  }

  .woocommerce-product-search input.search-field {
    width: 70%;
  }

  .woocommerce {
    // Single product
    &.single-product {

      .woocommerce-message {
        position: relative;
        padding: 20px 15px 40px 50px !important;

        a {
          float: left;
          position: absolute;
          bottom: 20px;
          padding: 0;
        }
      }

      #review_form {
        #respond {
          p.form-submit {
            text-align: center;
          }
        }
      }
    }

    div.product {
      .woocommerce-tabs {
        ul.tabs {
          margin-bottom: 30px;

          li {
            display: block;
            padding: 0;

            a {
              display: block;
              text-align: left !important;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  // Cart
  .woocommerce-cart {
    table.cart td.actions {
      .coupon {
        .input-text {
          margin: 0 0 10px 0;
          width: 100%;
        }

        .button {
          width: 100%;
        }
      }
    }
  }

  // Checkout
  .woocommerce-checkout {
    .checkout_coupon {
      .form-row,
      input.button {
        width: 100%;
      }

      .input-text {
        margin-bottom: 10px !important;
      }
    }
  }

  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering {
    float: none;

    select {
      letter-spacing: -0.025em;
    }
  }

  .woocommerce .col-xs-9 .woocommerce-ordering,
  .woocommerce-page .col-xs-9 .woocommerce-ordering {
    text-align: right;
  }

  .woocommerce .col-xs-12 .woocommerce-ordering,
  .woocommerce-page .col-xs-12 .woocommerce-ordering {
    text-align: left;

    select {
      width: 100%;
    }
  }
}

