div.container {
	padding: 0;
}

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.row > *, 
.col {
  display: table-cell;
  vertical-align: top;
  padding: 20px 10px;
}

.clear,
.line,
.row { clear: both; }

.clearfix:before,
.clearfix:after,
.line:before,
.line:after,
.mod:before,
.mod:after {
  content: "";
  display: table;
}

.clearfix:after,
.line:after,
.mod:after { clear: both; }

.row.gut > * + * { border-left: 10px solid #fff; }

.line.gut > .left { margin-right: 10px; }

.line.gut > .right { margin-left: 10px; }

.line.gut2 > * { width: 49%; }

.line.gut2 > * + * { margin-left: 2%; }

.line.gut3 > * { width: 32.333%; }

.line.gut3 > * + * { margin-left: 1.5%; }

.line.gut4 > * { width: 24% ;}

.line.gut4 > * + * { margin-left: 1.333%; }

.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33.333%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w66 { width: 66.666%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }

.w50p { width: 50px; }
.w100p { width: 100px; }
.w150p { width: 150px; }
.w200p { width: 200px; }
.w300p { width: 300px; }
.w400p { width: 400px; }
.w500p { width: 500px; }
.w600p { width: 600px; }
.w700p { width: 700px; }
.w800p { width: 800px; }
.w960p { width: 960px; }

.mw960p { max-width: 960px; }
.mw1400p { width: 1400px; }

.mt0, .mtn { margin-top: 0; }
.mt1, .mts { margin-top: 10px; }
.mt2, .mtm { margin-top: 20px; }
.mt3, .mtl { margin-top: 30px; }

.mr0, .mrn { margin-right: 0; }
.mr1, .mrs { margin-right: 10px; }
.mr2, .mrm { margin-right: 20px; }
.mr3, .mrl { margin-right: 30px; }

.mb0, .mbn { margin-bottom: 0; }
.mb1, .mbs { margin-bottom: 10px; }
.mb2, .mbm { margin-bottom: 20px; }
.mb3, .mbl { margin-bottom: 30px; }

.ml0, .mln { margin-left: 0; }
.ml1, .mls { margin-left: 10px; }
.ml2, .mlm { margin-left: 20px; }
.ml3, .mll { margin-left: 30px; }

.pt0, .ptn { padding-top: 0; }
.pt1, .pts { padding-top: 10px; }
.pt2, .ptm { padding-top: 20px; }
.pt3, .ptl { padding-top: 30px; }

.pr0, .prn { padding-right: 0; }
.pr1, .prs { padding-right: 10px; }
.pr2, .prm { padding-right: 20px; }
.pr3, .prl { padding-right: 30px; }

.pb0, .pbn { padding-bottom: 0; }
.pb1, .pbs { padding-bottom: 10px; }
.pb2, .pbm { padding-bottom: 20px; }
.pb3, .pbl { padding-bottom: 30px; }

.pl0, .pln { padding-left: 0; }
.pl1, .pls { padding-left: 10px; }
.pl2, .plm { padding-left: 20px; }
.pl3, .pll { padding-left: 30px; }

@media (max-width: 1400px) {
	.mw1400p { width: 100%; }
}

@media (max-width: 760px) {
	div.container {
		padding: 110px 0;
	}
}

@media (max-width: 460px) {
	div.container {
		padding: 85px 0;
	}
}
