<?php
$configuration['bdd']['hote']='localhost';
$configuration['bdd']['base']='afup';
$configuration['bdd']['utilisateur']='afup';
$configuration['bdd']['mot_de_passe']='afup';
$configuration['divers']['niveau_erreur']='6143';
$configuration['divers']['afficher_erreurs']='1';
$configuration['mails']['serveur_smtp']='';
$configuration['mails']['email_expediteur']='bureau@afup.org';
$configuration['mails']['nom_expediteur']='Bureau AFUP';
$configuration['mails']['force_destinataire']='';
$configuration['mails']['bcc']='';
$configuration['mails']['tls']='0';
$configuration['mails']['port']='';
$configuration['mails']['username']='';
$configuration['mails']['password']='';
$configuration['afup']['raison_sociale']='AFUP';
$configuration['afup']['adresse']='32, Boulevard de Strasbourg
CS 30108';
$configuration['afup']['code_postal']='75468';
$configuration['afup']['ville']='Paris Cedex 10';
$configuration['afup']['email']='bureau@afup.org';
$configuration['afup']['siret']='500 869 011 00014';
$configuration['rib']['etablissement']='17515';
$configuration['rib']['guichet']='90000';
$configuration['rib']['compte']='04045168667';
$configuration['rib']['cle']='70';
$configuration['rib']['domiciliation']='CE ILE DE FRANCE PARIS';
$configuration['rib']['bic']='CEPAFRPP751';
$configuration['rib']['iban']='FR76 1751 5900 0004 0451 6866 770';
$configuration['bureau']['0']='XavierLacot';
$configuration['bureau']['1']='AurelienVairet';
$configuration['bureau']['2']='mikaelkael';
$configuration['bureau']['3']='OlivierMansour';
$configuration['bureau']['4']='msupiot';
$configuration['bureau']['5']='jeanfrancois';
//$configuration['bureau']['6']='SarahHaimLubczanski';
$configuration['web']['path']='';
$configuration['paybox_prod']['site']='8316677';
$configuration['paybox_prod']['rang']='01';
$configuration['paybox_test']['site']='1999888';
$configuration['paybox_test']['rang']='99';
$configuration['paybox']['site']='8316677';
$configuration['paybox']['rang']='01';
$configuration['planete']['pertinence']='php|afup|pear|pecl|symfony|copix|jelix|wampserver|simpletest|simplexml|zend|pmo|drupal|ovidentia|mvc|magento|chrome|spip|PDO|mock|cake|hiphop|CMS|Framework|typo3|photon|pattern';
$configuration['site']['prefix']='pages/site/';
$configuration['site']['query_prefix']='?route=';
$configuration['svn']['url']='svn://svn.afup.org';
$configuration['svn']['web']='/web/afup/trunk';
$configuration['svn']['username']='robot';
$configuration['svn']['password']='afup';
$configuration['redmine']['apikey']='';
$configuration['redmine']['sitekey']='';
$configuration['sympa']['hote']='localhost';
$configuration['sympa']['base']='sympa';
$configuration['sympa']['utilisateur']='sympa';
$configuration['sympa']['mot_de_passe']='sympa';
$configuration['sympa']['directory']='/var/lib/sympa';
