.hestia-blogs article {
  .card-image {
    img {
      transition: 1s ease-out;
    }
    a:hover {
      opacity: 1;
      img {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }
  .category {
    a:not(:last-child) {
      &:after {
        content: ", ";
      }
    }
  }
}

