.carousel {
  #parallax_move {
    width: 100%;
    height: 100%;
    position: absolute;

    .layer {
      background-size: cover;
      width: 100%;
      height: 100%;
      background-position: top center;
    }

    .layer2{
      position: absolute;
      top: 0;
    }

  }
  .btn{
    margin: 0;
  }
  .page-header {
    display:flex;
    z-index: -2;

    .row{
      display: flex;
      align-items: center;
      padding: 0 15px;
      margin: 0;
      flex: 1;
      max-width: 100%;
    }
  }

  .carousel-control {
    &.left, &.right {
      z-index: 0;
      background-image: none;
    }
  }
  .item {
    text-align: center;

    .container {
      display: flex;
      position: relative;
      padding: 100px 0;
    }
  }
  .carousel-control {
    text-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &.left {
      /**
       * rtl:ignore
       */
      right: auto;
      left: 0;
    }
    &.right {
      right: 0;
    }
    i {
      display: inline-block;
      position: absolute;
      z-index: 5;
    }
  }
  .buttons .btn-left + .btn-right {
    margin-left: 30px;
  }

}

.wp-custom-header {
  img, video, iframe {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
}

.wp-custom-header .wp-custom-header-video-button {
  display: none;
}

#carousel-hestia-generic .carousel {
  overflow: hidden;
}

.big-title-sidebar-wrapper{
  .widget{
    padding: 30px 0;
  }
  .pirate-forms-contact-widget{
    background: #Fff;
    color: #3C4858;
    padding: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
.hestia-slider-alignment-left  {
  .pirate-forms-contact-widget {
    margin-left: auto;
  }
  .widget_media_image img {
    display: block;
    margin-left: auto;
  }
}
.hestia-slider-alignment-right {
  .pirate-forms-contact-widget {
    margin-right: auto;
  }
  .widget_media_image img {
    display: block;
    margin-right: auto;
  }
}

@media (max-width: 1600px) {
  .carousel-control{
    &.left{
      width:50px;
      i{
        left: 10px;
      }
    }
    &.right{
      width:50px;
      i{
        right: 10px;
      }
    }
  }
}


/* Compatibility with Internet Explorer, vertical align slider content */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .carousel {
    .page-header {

      .container {

        display: table;
        min-height: inherit;

        .row {

          display: table-row;

          .big-title-slider-content {
            display: table-cell;
            vertical-align: middle;
            float: none;
            margin: auto;
          }

          /* Widgets area enabled in Big Title section */
          .big-title-slider-content.col-md-7 {
            display: table-cell;
            vertical-align: middle;
            float: none;
            margin: auto;
          }
          .big-title-sidebar-wrapper.col-md-5 {
            display: table-cell;
            vertical-align: middle;
            float: none;
            margin: auto;
          }
        }
      }
    }

    .carousel-control i {
      left: 50%;
    }
  }
}
