.hestia-team,
.team {
  .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .btn-just-icon {
    transition: .3s ease;
    &:hover {
      opacity: .75;
    }
  }
  .card {
    text-align: left;

    .content {
      padding-top: 0;
      a:hover > .card-title {
        opacity: .75;
      }
    }

    .footer {
      margin-left: -12px;
      margin-top: 0;
    }
  }

  h5.description {
    margin-bottom: 70px;
  }

  img {
    transition: 1s ease-in;
  }
  .card-image a:hover {
    opacity: 1;
    img {
      -webkit-transform: scale3d(1.1,1.1,1);
      transform: scale3d(1.1,1.1,1);
    }
  }
}

.authors-on-blog {
  background: rgba(18,20,23,1);
  background: -moz-linear-gradient(top, rgba(18,20,23,1) 0%, rgba(50,52,55,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,20,23,1)), color-stop(100%, rgba(50,52,55,1)));
  background: -webkit-linear-gradient(top, rgba(18,20,23,1) 0%, rgba(50,52,55,1) 100%);
  background: -o-linear-gradient(top, rgba(18,20,23,1) 0%, rgba(50,52,55,1) 100%);
  background: -ms-linear-gradient(top, rgba(18,20,23,1) 0%, rgba(50,52,55,1) 100%);
  background: linear-gradient(to bottom, rgba(18,20,23,1) 0%, rgba(50,52,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121417', endColorstr='#323437', GradientType=0 );
  background-position: center center;
  background-size: cover;
  .card-title {
    color: #fff;
  }
  
  .footer {
    a {
      @extend %transition-all-3s-ease;

      &:hover {
        color: #fff;
      }
    }
  }
}

// Generate for each social network specific buttons code
@each $current-social in $social-networks {
  $i: index($social-networks, $current-social);
  @include footer-buttons-social-icon($current-social,nth($social-networks-colors,$i));
}