body:not(.home) .navbar-default .navbar-nav > .active > a,
body:not(.home) .navbar-default .navbar-nav > .active > a:hover,
body:not(.home) .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
}

body.admin-bar .navbar {
  margin-top: 32px;
}

// Transparent navbar styles
.navbar-color-on-scroll .dashicons{
  transition: initial;
}

.navbar.navbar-transparent {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  > .container {
    padding-top: 25px;
  }
  .hestia-hide-if-transparent{
    display: none;
  }
}

.navbar.navbar-not-transparent{
  .hestia-transparent-logo{
    display: none;
  }
}

// Navbar.
.navbar {
  background-color: #fff;
  color: #555;
  border-radius: 0;
  position: fixed;
  border: none;
  padding: 0;
  transition: none;
  -webkit-box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
  .navbar-collapse {
    border: none;
  }
  .title-logo-wrapper {
    max-width: 250px;
    display: flex;
    align-items: center;
  }
}

.navbar > .container {
  display: flex;
  transition: padding 0.1s ease;
  padding: 10px 15px;
  vertical-align: middle;
  align-items: center;
}

// Left Aligned Navbar.
.navbar.hestia_left {
  .navbar-collapse {
    margin-left: auto;
  }
  > .container {
    flex-direction: row;
  }
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

// Center Aligned Navbar.
.navbar.hestia_center {
  > .container {
    flex-direction: column;
  }
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.navbar.hestia_right {
  > .container {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .navbar-header {
    max-width: 250px;
  }
  .navbar-header, .header-sidebar-wrapper {
    flex: 1;
  }
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

// Navbar Brand.
.navbar .navbar-header {
  .navbar-brand {
    padding: 0 15px;
    position: relative;
    color: inherit;
    height: auto;
    img {
      width: auto;
      max-height: 50px;
    }
    p {
      margin-bottom: 0;
      padding: 10px 0;
    }
  }
}

// Navbar toggle.
.navbar-toggle-wrapper {
  // Send toggle to right.
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar .navbar-toggle {
  float: none;
  border: 0;
  margin-right: 0;
  &:hover, &:focus {
    background: transparent;
  }
  .icon-bar {
    border: 1px solid;
    transition: 0.3s ease;
    position: relative;
  }
  &[aria-expanded=true] .icon-bar {
    &:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 6px;
    }
    &:nth-child(2) {
      width: 0;
      opacity: 0;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: -6px;
    }
  }
  &[aria-expanded=false] .icon-bar {
    &:nth-child(1) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
}

// Menu items.
.navbar .navbar-nav > li {
  margin: 0;
  > a {
    text-transform: uppercase;
  }
  a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    color: inherit;
    &:hover, &:focus {
      color: inherit;
      opacity: 1;
    }
    i {
      min-width: 20px;
      text-align: center;
      position: relative;
      top: 2px;
      margin-top: -4px;
      margin-right: 4px;
    }
  }

  &.btn {
    padding: 0 10px;
    > a {
      color: #fff;
    }
    li a {
      text-transform: none;
    }
  }

  .dropdown-menu {
    margin-top: -5px;
    border: none;

    > .active > a {
      background-color: transparent;
    }
    li {
      color: #333;
      position: relative;
      &.active > a {
        color: #333;
      }
      &:hover > a {
        color: $color-rose;
        > i {
          opacity: 0.7;
        }
      }
      > a {
        background-color: transparent;
        margin: 0 5px;
        padding: 10px;
        border-radius: 2px;
        -webkit-transition: all 150ms linear;
        transition: all 150ms linear;
        > i {
          position: relative;
          top: 1px;
          margin-right: 12px;
          opacity: 0.5;
          text-align: center;
        }
        i {
          position: relative;
          top: 1px;
          margin-top: -4px;
          margin-right: 12px;
          vertical-align: middle;
        }
      }
    }
  }
  &:hover .dropdown-menu {
    margin-top: 0;
    z-index: 10;
  }
}

// Menu items background transition on transparent navbar.
.navbar .navbar-nav > li:not(.btn) {
  > a:before,
  .hestia-toggle-search:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
  }
  &:hover a:before,
  &:hover .hestia-toggle-search:before {
    color: inherit;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

// Dropdown submenus.
.dropdown-submenu {
  position: relative;
  .dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  &.open > .dropdown-menu {
    display: table;
    visibility: visible;
    opacity: 1;
  }
  &:hover, &.open {
    > .dropdown-toggle .caret {
      border-left: 4px dashed;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
    .dropdown-menu {
      display: table;
    }
  }
}

.navbar.header-with-topbar {
  position: absolute;
  top: 40px;
}

.navbar.navbar-scroll-point {
  position: fixed;
  top: 0;
}

.navbar.full-screen-menu.navbar-scroll-point .header-sidebar-wrapper {
  display: none;
}

.dropdown-helper-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

#main-navigation ul.nav > li {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  visibility: visible;
}

.hestia-mm-description {
  display: none;
  opacity: .75;
}

@import "nav_components/nav_search";

.navbar {
  &.navbar-default .navbar-nav > .btn.open > a,
  &.navbar-default .navbar-nav > .btn.active > a,
  &.navbar-default .navbar-nav > .btn > a {
    color: #fff;
    background: transparent;
  }
  &.navbar-not-transparent .navbar-nav > .active:not(.btn) > a,
  &.navbar-not-transparent .navbar-nav > .active:not(.btn) > a:hover,
  &.navbar-not-transparent .navbar-nav > .active:not(.btn) > a:focus {
    background: transparent;
  }
}

/*--------------------------------------------------------------
## Navbar Widgets
--------------------------------------------------------------*/
@import "nav_components/navbar_widgets";
