{% extends 'event/base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <h2>Suggérer un·e conférencier·e</h2>

        Les suggestions pour le {{ event.title }} sont fermées.
    </div>

{% endblock %}
