<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event - Afup</title>
    <link rel="stylesheet" href="/templates/site/css/styles.css">
    <link rel="stylesheet" href="/css/vote.css">
</head>
<body>
    {% block body '' %}

    <script src="/js/vote.js"></script>
</body>
</html>