header {
  position: relative;
  background-color: #36a7df;
  padding: 15px 0;
}

header #logo {
  display: block;
  padding: 0 20px;
  max-width: 60%;
}

header #logo img {
  width: 700px;
  max-width: 100%;
}

header #logo .mobile { display: none; }

header #espace-membre {
  float: right;
  font-family: "Podkova", serif;
  font-weight: bold;
  color: #fff;
  padding: 20px 30px 0 0;
  text-align: right;
}

header #espace-membre p {
  font-size: 1.07em;
  line-height: 1.25;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}

header #espace-membre ul {
  margin: 0;
  list-style: none;
  *zoom: 1;
}

header #espace-membre ul:after {
  content: "";
  display: table;
  clear: both;
}

header #espace-membre ul li {
  float: right;
  padding: 0 2px;
  font-weight: 400;
}

header #espace-membre ul li a {
  font-size: 1.07em;
  line-height: 1.25;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

header #espace-membre ul li a:hover {
  text-decoration: underline;
}

header #espace-membre ul li:before {
  content: "| ";
}

header #espace-membre ul li:last-child:before {
  content: "";
}

.header-button {
  border-radius: 5px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 10px 0 0;
  padding: 8px;
  text-decoration: none;
}

.header-button__connect {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

.header-button__become-member {
  color:#fff;
  background-color: #ed0678;
  border: 1px solid #ed0678;
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 10;
  }

  header #logo {
    width: 350px;
    max-width: unset;
  }

  html header #espace-membre {
    padding: 10px 30px 0 0;
    float:right;
    background: none;
  }

  html header #espace-membre ul li {
    margin: 0;
    float: none;
    text-align: right;
  }

  html header #espace-membre ul li:before {
    content: "";
  }
} 

@media (max-width: 460px) {
  header {
    padding: 10px 0;
    top: 0;
  }

  header #logo { width: 230px; }

  header #logo img { display: none; }

  header #logo .mobile {
    width: 180px;
    display: inline-block;
  }

  html header #espace-membre {
    position: static;
    padding: 10px 10px 0 0
  }

  html header #logo img {
    width: 220%;
  }

  html header #espace-membre ul li {
    float: none;
    text-align: right
  }

  html header #espace-membre ul li:before {
    content: "";
  }
}