.secondary-menu {
  height: 50px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .075);
  position: relative;
  z-index: 1;
}

.secondary-menu > div {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.secondary-menu__item {
  margin: 0 25px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #1d2240;
  text-transform: uppercase;
  text-decoration: none;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}

.secondary-menu__item:hover {
  border-bottom-color: #1d2240;
  transition: border-bottom-color ease-in-out .25s;
}

.active {
  border-bottom-color: #1d2240;
  font-weight: 900;
}

@media (max-width: 768px) {
  .secondary-menu {
    /*display: none;*/
    height: unset;
  }

  .secondary-menu__item {
    font-size: 12px;
    margin: 0;
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
