{% include 'legacy/forumphp2006/entete.html.twig' %}
<div id="cartouche-milieu">
    <img id="cartouchepage" src="/templates/forumphp2006/images/cartouche-page.png" usemap="#m_cartouchepage" />
    <map name="m_cartouchepage">
    <area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2006, page: 'inscription.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
    <area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2006, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
    </map>
    <h1>Acc&egrave;s</h1>
        <p><a href="{{ path('legacy_event', {year: 2006, page: 'acces.php'}) }}"><img src="/templates/forumphp2006/images/acces2.jpg" alt="cliquez sur la cible pour plus d'infos" border="0" /></a><br />
    <span class="texte">Cliquez sur l'image revenir &agrave; la carte globale.</span></p>
  <p><br />
    <span class="titre">Adresse :</span><span class="titreauteur"><br />
    </span><span class="texte">Société Nationale d'Horticulture de France<br />

    84, rue de Grenelle<br />
    75007 Paris <br />
    Tél. : 01 44 39 78 78<br />
    Metro : rue du Bac (ligne 12)</span></p>
  <p class="texte">Vous pouvez consulter les sites <a href="http://www.mappy.fr/" target="_blank">mappy</a> 
    ou <a href="http://www.maporama.fr" target="_blank">maporama</a> pour 
    voir comment vous y rendre.</p>
</div>
{% include 'legacy/forumphp2006/pied_de_page.html.twig' %}
