            </div>

            <div id="a-droite">
                <div id="php">
                    <center>
                    <br />
                    <a href="http://www.php.net/"><img id="logo-php" src="/templates/forumphp2006/images/logo_php.png" alt="PHP" border="0" /></a>
                    </center>
                </div>
                <div id="sponsors">
                    <img src="/templates/forumphp2006/images/entete-sponsors.png" alt="sponsors du Forum PHP 2006 Paris" />
                    <center>
                    <br /><br />
                    <a href="http://www.ez.no/"><img class="entreprise" src="/templates/forumphp2006/images/logo_ezsystems.gif" alt="eZ systems" /></a>
                    <br /><br />
                    <a href="http://www.zend.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_zend.gif" alt="Zend" /></a>
                    <br /><br />
                    <a href="http://www.anaska.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_anaska_petit.gif" alt="Anaska" /></a>
                    <br /><br />
                    <a href="http://www.waterproof.fr/"><img class="entreprise" src="/templates/forumphp2006/images/logo_waterproof.gif" alt="WaterProof editeur PHP" /></a>
                    <br /><br />
                    <a href="http://www.isens-evolution.com"><img class="entreprise" src="/templates/forumphp2006/images/logo-small-isens.png" alt="Isens-evolution" /></a>
                    <br /><br />
                    </center>
                </div>
                <div id="partenaires">
                    <img src="/templates/forumphp2006/images/entete-partenaires.png" alt="partenaires du Forum PHP 2006 Paris" />
                    <center>
                    <br /><br />
                    <a href="http://www.editions-eyrolles.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_eyrolles.gif" alt="Eyrolles" /></a>
                    <br /><br />
                    <a href="http://www.programmez.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_programmez.gif" alt="Programmez" /></a>
                    <br /><br />
                    </center>
                </div>
                <div id="organisateurs">
                    <img src="/templates/forumphp2006/images/entete-organisateurs.png" alt="organisateurs du Forum PHP 2006 Paris" />
                    <center>
                    <br /><br />
                    <a href="http://www.kanopee.net/"><img class="entreprise" src="/templates/forumphp2006/images/logo_kanopee_petit.gif" alt="Kanopée" /></a>
                    <br /><br />
                    <a href="http://www.kaptive.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_kaptive_petit.jpg" alt="Kaptive" /></a>
                    <br /><br />
                    <a href="http://www.nexenservices.com/"><img class="entreprise" src="/templates/forumphp2006/images/logo_nexenservices_petit.gif" alt="Nexen Services" /></a>
                    <br /><br />
                    <a href="http://www.noparking.net/"><img class="entreprise" src="/templates/forumphp2006/images/logo_noparking_petit.gif" alt="No Parking" /></a>
                    <br /><br />
                    <a href="http://www.ipnotic-telecom.fr"><img class="entreprise" src="/templates/forumphp2006/images/logo_ipnotic_petit.jpg" alt="ipnotic telecom" /></a>
                    <br /><br />
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
