{% extends ':event:base.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        <h3>{{ 'Mon espace conférencier'|trans }}</h3>

        <h4>{{ 'Mes propositions'|trans }}</h4>
        <ul>
            <li>coucou</li>
        </ul>

    </div>
    {{ render(controller('AppBundle:CFP:sidebar', {eventSlug: event.path})) }}
{% endblock %}