@import "1199";
@import "991";
@import "782";
@import "768";
@import "600";
@import "480";


// Colors
$color-rose: #e91e63;
$color-primary: #9c27b0;
$color-primary-hover: #89229b;
$color-info: #00bcd4;
$color-success: #4caf50;
$color-danger: #f44336;
$color-warning: #ff9800;
$color-secondary: #3c4858;
$color-body-text: #999999;
// Typography
$primary-font: "Roboto","Helvetica","Arial",sans-serif;
$secondary-font: "Roboto Slab","Times New Roman",serif;