.session {
	display: none;
}

.defaultEvent {
	display: none;
}

.icon-click {
	display: none;
}

.fc-event {
	background: #fff !important;
	color: #000 !important;
}
	
.fc-event-bg {
	display: none !important;
}
	
.fc-event .ui-resizable-handle {
	display: none !important;
}

.fc-event-inner {
	width: 100%;
}

@page {
    size: A4;
    margin-top:20px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
}
