html, body {
    height: 100%;
}
a{
    color: #3d64c1;
}
.container-fluid {
    padding-left:0px;
    padding-right:0px;   
}

.agenda {
	padding-top: 10px;
    height: 850px;
}

.agenda h2 {
    margin-top: 0px;
}

.session {
	padding-top: 10px;
}

.profile {
    min-height: 250px;
    display: inline-block;
    width:100%;
    font-size: 13px;
    padding: 5px;
}

.img-responsive {
    margin: 0 auto;
}

.print {
	width: 100%;
}

#search form input {
    padding: 0;
}

.search {
   padding-top: 10px; 
}

.search input {
    height: 28px;
}

#search {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:10px;
    width: 100%;
    padding: 19px;
}

#search form {
    padding-bottom: 10px;
}

.savedEvent{
    background-color:#33CC66;
}

.conflictEvent{
    background-color:#FF4848;
}

.filtredEvent{
    border: 1px solid black;
}

.scroll-fix{
    padding-top: 25px;
    margin-top: -25px;
}

.calendarSelect{
    border: 1px solid black;
}

.fc-event-title {
    font-size: 12px;
}

.icon-click {
    cursor: pointer;
    font-size: 20px;
}

#toggleView {
    display: none;
}

@media (min-width: 768px) {
    .agenda {
        height: 870px;
    }

    .fill { 
        min-height: 400px;
        height: 870px;
    }
}
@media (min-width: 992px) {
    .fill { 
        min-height: 100%;
        height: 100%;
    }

    #toggleView {
        display: block;
    }
    .session {
        padding-top: 10px;
        overflow: auto;
    }
}
@media (min-width: 1200px) {
    .fill { 
        min-height: 100%;
        height: 100%;
    }

    #toggleView {
        display: block;
    }

    .session {
        padding-top: 10px;
        overflow: auto;
    }
}

/** header **/
.header{
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #e7e7e7;
}
.logo-php{
    width: 20%;
    height: 70px;
    float: left;
}
.logo-php img{
    width: 100%;
    max-width: 150px;
    height: auto;
}
h2#title{
    width: 60%;
    float: left;
    padding: 15px 0;
    font-size: 20px;
}
.norsys{
    width: 20%;
    height: 70px;
    float: right;
    position: relative;
}
.norsys img{
    width: 100%;
    max-width: 170px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
.fc-widget-header{
    color: #fff;
    background-color: #3d64c1;
}
.btn-primary{
    background-color: #3d64c1;
    border-color: #304f99;
}
.label-info{
    background-color: #5284da;
}
.icon-click {
    color: #3d64c1;
}