{% include 'legacy/forumphp2005/entete.html.twig' %}
<div id="cartouche-milieu">
    <img id="cartouchepage" src="/templates/forumphp2005/images/cartouche-page.png" usemap="#m_cartouchepage" />
    <map name="m_cartouchepage">
    <area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
    <area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
    </map>
    <h1>Presse</h1>
    <p><span class="titre">Espace Presse :</span><br />
    <span class="texte">Un espace réservé à la presse vous permettra d'interviewer les principales figures du monde PHP présentes à ce salon. N'hésitez pas à nous contacter pour réserver un créneau horaire.</span></p>

  <p><span class="titre">Communiqué de Presse :</span><br />
    <br />
    <span class="texte">Vous pouvez consulter notre communiqué de Presse et utiliser nos ressources<br/>
    URL : <a href="https://afup.org/pages/forumphp/documents/">Communiqué de Presse</a><br/></span></p>
    
  <p><span class="titre">Contact Presse :</span><br />
    <br />
    <span class="texte">Cyril PIERRE de GEYER<br />
    Contact : <a href="mailto:afup@anaska.fr">afup@anaska.fr</a><br />
    Contact téléphonique : 06.62.65.05.63</span></p>
  <p><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />&nbsp;
  </p>
</div>
{% include 'legacy/forumphp2005/pied_de_page.html.twig' %}
