{% include 'legacy/forumphp2005/entete.html.twig' %}
<div id="cartouche-milieu">
    <img id="cartouchepage" src="/templates/forumphp2005/images/cartouche-page.png" usemap="#m_cartouchepage" />
    <map name="m_cartouchepage">
    <area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
    <area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
    </map>
    <h1>Adresse</h1>
    <p><span class="texte">Société Nationale d'Horticulure de France<br />
    84, rue de Grenelle<br />

    75007 Paris<br />
    Tél. : 01 44 39 78 78<br />
    Metro : rue du Bac (ligne 12)<br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}">[Acces] </a></span></p>

	<p><span class="titre">Responsable AFUP :</span><br />
    <span class="texte">Perrick PENET<br />
    Contact : <a href="mailto:bureau@afup.org">bureau@afup.org</a><br />
    Contact téléphonique : 06.27.32.15.30</span></p>

    <p><span class="titre">Responsable inscriptions :</span><br />
    <span class="texte">Jean-Marc FONTAINE<br />
    Contact : <a href="mailto:tresorier@afup.org">tresorier@afup.org</a><br />
    Contact téléphonique : 06.88.56.50.79</span></p>

	<p><span class="titre">Espace Presse :</span><br />
    <span class="texte">Un espace réservé à la presse 
    vous permettra d'interviewer les principales figures du monde PHP 
    présentes à ce salon. N'hésitez pas à 
    nous contacter pour réserver un créneau horaire.</span></p>

  <p><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />&nbsp;
  </p>
</div>
{% include 'legacy/forumphp2005/pied_de_page.html.twig' %}
