{% extends 'event/ticket/base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Billetterie'}} %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h1>Paiement de vos billets</h1>
        <div>
            <p>
                {% if payboxResponse.successful %}
                    Le paiement de votre commande s'est bien passé, merci.
                {% else %}
                    Il y a eu une erreur lors de l'enregistrement de votre commande. Pour essayer à nouveau, <a href="{{ url('ticket_payment', {eventSlug: event.path, invoiceRef: invoice.reference}) }}">cliquez-ici</a>
                {% endif %}
            </p>
            <p>
                Si vous avez la moindre question, n'hésitez pas à contacter <a href="mailto:bonjour@afup.org">bonjour@afup.org</a>.
            </p>
        </div>
    </div>
{% endblock %}
