{% extends ':event:base.html.twig' %}

{% block content %}

    <div class="col-md-12">
        <h2>Suggérer un·e conférencier·e</h2>

        Merci pour votre suggestion.<br />
        <br />
        <a href="{{ path('speaker-suggestion', { eventSlug: event.path }) }}">Faire une autre suggestion</a>.
    </div>

{% endblock %}
