RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=302]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Removed pages to homepage
RewriteRule ^annuaire.*$ /pages/site? [R=301]

RewriteCond %{QUERY_STRING} route=actualites/961/lafup-lance-un-super-apero
RewriteRule ^site.*$ /association/super-apero-9-mars? [L,R=302]


#pages supprimées
RewriteCond %{QUERY_STRING} ^route=vie-associative-afup/266/definition-du-benevole$
RewriteRule ^(.*)$  "/pages/site/?route=vie-associative-afup/981/poles"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/70/formulaires-d-inscription$
RewriteRule ^(.*)$  "/association/devenir-membre"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/19/qu-est-ce-que-l-afup$
RewriteRule ^(.*)$  "/pages/site/?route=qui-sommes-nous/82"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative/4$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/57/pourquoi-doit-on-souscrire-une-cotisation$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/22/le-niveau-n-est-il-pas-trop-lev$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/20/pourquoi-la-priorit-aux-professionnels$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/54/je-suis-un-professionnel-ou-un-institutionnel-li-php-pourquoi-devenir-membre$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/55/je-suis-un-amateur-de-php-pourquoi-devenir-membre$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]


RewriteCond %{QUERY_STRING}  ^route=faq/6$
RewriteRule ^(.*)$  "/pages/site/?route=association/85"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=divers/231/le-livre-blanc-php-en-entreprise$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=divers/232/annuaire-de-prestataires$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=communication-externe/102/$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=divers/220/who-is-afup$
RewriteRule ^(.*)$  "/p/984-qui-sommes-nous?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=antenne-de-lille/74$
RewriteRule ^(.*)$  "/association/antennes?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=02-projets-en-cours/312/appel-t-moignages-recherche-retour-d-exp-rience-php-5$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=02-projets-en-cours/90/entretiens$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=02-projets-en-cours/76/cr-ation-d-un-syst-me-de-question-r-ponse-pour-promouvoir-php$
RewriteRule ^(.*)$  "/?"  [L,R=302]

RewriteCond %{QUERY_STRING}  ^route=02-projets-en-cours/27$
RewriteRule ^(.*)$  "/?"  [L,R=302]


#pages déplacées
RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/981/poles$
RewriteRule ^(.*)$  "/pages/site/?route=association/981/poles"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/222/bureaux-de-l-afup-fondateurs-et-conseil-d-administration$
RewriteRule ^(.*)$  "/pages/site/?route=association/222/bureaux-de-l-afup-fondateurs-et-conseil-d-administration"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/1/statuts-de-l-association-francaise-des-utilisateurs-de-php$
RewriteRule ^(.*)$  "/pages/site/?route=association/1/statuts-de-l-association-francaise-des-utilisateurs-de-php"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/21/reglement-interieur$
RewriteRule ^(.*)$  "/pages/site/?route=association/21/reglement-interieur"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=vie-associative-afup/70/formulaires-d-inscription$
RewriteRule ^(.*)$  "/pages/site/?route=association/70/formulaires-d-inscription"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=faq/53/comment-contacter-l-afup$
RewriteRule ^(.*)$  "/pages/site/?route=divers/53/comment-contacter-l-afup"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=qui-sommes-nous/82$
RewriteRule ^(.*)$  "/pages/site/?route=association/984/qui-sommes-nous"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=code-of-conduct/79$
RewriteRule ^(.*)$  "/pages/site/?route=association/985/code-of-conduct"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=code-de-conduite/80$
RewriteRule ^(.*)$  "/pages/site/?route=association/986/code-de-conduite"  [L,R=301]


RewriteCond %{QUERY_STRING}  ^route=association/981/poles$
RewriteRule ^(.*)$  "/p/981-poles?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/222/bureaux-de-l-afup-fondateurs-et-conseil-d-administration$
RewriteRule ^(.*)$  "/p/222-bureaux-de-l-afup-fondateurs-et-conseil-d-administration?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/1/statuts-de-l-association-francaise-des-utilisateurs-de-php$
RewriteRule ^(.*)$  "/p/1-statuts-de-l-association-francaise-des-utilisateurs-de-php?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/21/reglement-interieur$
RewriteRule ^(.*)$  "/p/21-reglement-interieur?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/984/qui-sommes-nous$
RewriteRule ^(.*)$  "/p/984-qui-sommes-nous?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/985/code-of-conduct$
RewriteRule ^(.*)$  "/p/985-code-of-conduct?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/986/code-de-conduite$
RewriteRule ^(.*)$  "/p/986-code-de-conduite?"  [L,R=301]

RewriteCond %{QUERY_STRING}  ^route=association/85$
RewriteRule ^(.*)$  "/p/984-qui-sommes-nous?"  [L,R=301]




