body { background-color: #4682DB; padding: 0px; margin: 0px; font-family: verdana; }
#container { width : 960px; border: 0px; margin: 0px auto; background-color: #ffffff; padding: 20px; min-height: 3333331px; border-left: #333333 8px solid; border-right: #333333 8px solid; }
#header { text-align: center; }
#content h1 { text-align: center; color: #333333; }
#footer { text-align: center; }

form { margin: 0 auto; }
input[type=submit] { font-size: 25px; }
fieldset { border: 0px; border-top: 1px solid #333333; margin: 0.5em 0; padding-bottom: 0.5em; }
legend { background: #333333; color: #FFFFFF; font-weight: bold; padding: 4px 35px; }
fieldset.boutons { border: 0 none; margin: 0; text-align: center; }
form div.rangee { clear: both; padding-top: 5px; }
form div.rangee label.libelle { float: left; font-weight: bold; text-align: right; width: 20%; }
form div.rangee span.element { float: right; text-align: left; width: 78%; }
form span.obligatoire { color: #FF0000; }
form p.erreur { border: 1px solid #A6A6A6; color: #FF0000; font-weight: bold; padding: 5px 5px 5px 30px; }
form span.element p.erreur { border: 0 none; padding: 0; text-align: left; }
