{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Générer une veille de l'AFUP</h2>

    <style>
        #preview-techletter{
            width: 50%;
            float:left;
            border: 1px grey solid;
            box-sizing: content-box;
        }
    </style>

    <iframe src="{{ url('preview') }}" id="preview-techletter" name="preview-techletter" frameborder="0"></iframe>
    {{ form(form) }}

    <script>
        (function(w, d){
        	'use strict';

        	let overlayElement = null;

        	let createElement = function ()
            {
            	overlayElement = d.createElement('div');
            	overlayElement.setAttribute('id', 'overlayOnIframe');
            	d.body.appendChild(overlayElement);

            	return overlayElement;
            };

			w.IframeOverlay = {};
			IframeOverlay = function(iframe, clickCallback) {
				this.iframe = iframe;
				this.clickCallback = clickCallback;
			};

			IframeOverlay.prototype = {
				iframe: null,
				clickCallback: null,
				overlayColor: 'rgba(120, 120, 120, .8)',

				/**
                 * Creates an overlay in the parent window.
                 * Values x and y are referring to the position of the overlay IN the iframe
                 *
				 * @param x
				 * @param y
				 * @param width
				 * @param height
				 */
				show: function(x, y, width, height) {
					this.remove();

					let iframeParams = this.iframe.getBoundingClientRect();
                    createElement();

                    x += iframeParams.left;
                    y += iframeParams.top;

                    overlayElement.setAttribute(
                    	'style',
                        'position: fixed; display: block; z-index: 1000; ' +
                        'top: ' + y + 'px; left: ' + x + 'px;' +
                        'cursor: pointer;' +
                        'width: ' + width + 'px; height: ' + height + 'px; ' +
                        'background-color: ' + this.overlayColor + ';'
                    );
                    overlayElement.addEventListener('click', this.clickCallback);
					overlayElement.addEventListener('mouseleave', this.remove);
				},
				remove: function() {
					if (overlayElement !== null) {
						overlayElement.remove();
						overlayElement = null;
                    }
				}
			};
        })(window, document);

		(function (w, d) {
        	'use strict';

        	let iframeOverlay, iframePlusOverlay;

            let editableElements = [
            	{ type: "news", container: '#templateNews', selector: 'li', maxItems: 2, newItemType: 'li' },
                { type: "article", container: '#templateArticles', selector: 'div.template--article', maxItems: 10, newItemType: 'div' },
                { type: "project", container: '#templateProjects', selector: 'li', maxItems: 5, newItemType: 'div' }
            ];

        	let onEditableElement = function(event)
            {
            	let elementPosition = event.toElement.getBoundingClientRect();
            	iframeOverlay.show(elementPosition.x, elementPosition.y, elementPosition.width, elementPosition.height);
            };

        	let onPlusElement = function(event)
			{
				let elementPosition = event.toElement.getBoundingClientRect();
				iframePlusOverlay.show(elementPosition.x, elementPosition.y, elementPosition.width, elementPosition.height);
			}

        	let declareListeners = function(iframeDocument)
            {
				editableElements.forEach(item => {
                	let items = iframeDocument.querySelectorAll(item.container + ' ' + item.selector);
                	if (items.length < item.maxItems) {
                		// Add "new item" node
						let plusElement = iframeDocument.createElement(item.newItemType);
						plusElement.setAttribute(
							'style',
							'text-align:center; font-width: 20px; font-weight:bold; color: black; list-style-type:none;'
						);

						let text = iframeDocument.createTextNode('+');
						plusElement.appendChild(text);

						iframeDocument.querySelector(item.container).appendChild(plusElement);
						plusElement.addEventListener('mouseenter', onPlusElement);
					}
                    items.forEach(element => {
                    	element.addEventListener('mouseenter', onEditableElement);
                    });
                });
				iframeOverlay = new w.IframeOverlay(d.getElementById('preview-techletter'), event => {
					console.log('click');
				});
				iframePlusOverlay = new w.IframeOverlay(d.getElementById('preview-techletter'), event => {
					console.log('click plus');
				});
			};

			let onPreviewLoaded = function(event)
			{
				this.style.height =	this.contentWindow.document.body.offsetHeight + 'px';
				declareListeners(this.contentWindow.document);
				this.style.height =	this.contentWindow.document.body.offsetHeight + 'px';
			};

        	d.getElementById('preview-techletter').onload = onPreviewLoaded;

        	// @todo add overlay when iframe is loading

        })(window, document);

    </script>

{% endblock %}
