{% extends 'site/base.html.twig' %}

{% block title %}Page 404{% endblock %}

{% set header = "" %}
{% set footer = "" %}

{% block content %}
    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>Page 404 ;-(</h1>

            <p>
                Vous pouvez <a href="{{ path('home') }}">retourner à l'accueil du site</a>.
            </p>
        </div>
    </div>
{% endblock %}