{% extends ':mail:_base_mail.html.twig' %}

{% block content %}

{{ content|markdown_email }}

{% if logo_url %}
    <div style="text-align: center">
        <img src="{{ logo_url }}" alt="AFUP" width="300" height="156" style="-ms-interpolation-mode: bicubic; border: none; outline: none; text-decoration: none;">
    </div>
{% endif %}

{% endblock %}
