{% extends ':mail:_base_mail.html.twig' %}

{% block content %}

{{ content|markdown_email }}

{% if logo_url %}
    <div style="text-align: center">
        <img src="{{ logo_url }}" alt="" width="300" style="width: 300px; -ms-interpolation-mode: bicubic; border: none; outline: none; text-decoration: none;">
    </div>
{% endif %}

{% endblock %}
