<style type="text/css">
    table.planning_agenda caption {
        font-family: Roboto, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 4em;
    }

    table.planning_agenda td a {
        color: #18213e;
        text-decoration: none;
    }

    table.planning_agenda td {
        border: 1px solid #898D92;
        border-width: 1px 0;
        vertical-align: middle;
        padding: 0.4em;
    }

    table.planning_agenda td.conf_odd {
        background-color: #D6DBE0;
    }

    table.planning_agenda td.conf {
        border-width: 1px;
    }

    table.planning_agenda tr td:last-child {
        border-right-width: 0;
    }

    table.planning_agenda td.col_heure {
        border-right: 1px solid #898D92;
    }

    @media (max-width: 1024px) {
        table.planning_agenda span.conferencier {
            display: none;
        }

        table.planning_agenda span.heure_fin {
            display: none;
        }

        table.planning_agenda td, table.planning_agenda tr {
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }
    }
</style>
{{ sessions|length }} Sessions

<div class="bloc_jour">
    {{ agenda|raw }}
</div>
<br/>
