@import url(http://fonts.googleapis.com/css?family=Belgrano|Roboto:400,700,300);

/*********************
  Reset
*********************/
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/*********************
  Structure
*********************/
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: #fff;
  font-size: 90%;
}

#header {
  clear: both;
  float: left;
  width: 100%;
  background: #50a0dd;
  color: #fff;
  border-bottom: 1px solid #18213e;
}

#header p,
#header h1,
#header h2 {
  padding: 0;
  margin: 0;
  color: #fff;
}

#header h1{
    font-size:28px;
    line-height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

#header h1 img {
    vertical-align: middle;
    margin: 0 1em;
}

#header ul {
  clear: left;
  float: left;
  width: 100%;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#header ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#header ul li a {
  display: block;
  float: left;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  text-align: center;
  background: #eee;
  color: #000;
  text-decoration: none;
  position: relative;
  left: 15px;
  line-height: 1.3em;
}

#header ul li a:hover {
  background: #369;
  color: #fff;
}

#header ul li a.active,
#header ul li a.active:hover
{
  color: #fff;
  background: #008000;
  font-weight: bold;
}

#header ul li a span {
  display: block;
}

.colmask {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
}

.colright,
.colmid,
.colleft {
  float: left;
  width: 100%;
  position: relative;
}

.col1,
.col2,
.col3 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
}

.col1 {
    padding-top: 2em;
}
.col2{overflow: hidden;}

.leftmenu {
  background: #fff;
}

.leftmenu .colleft {
  right: 81%;
  background: #f4f4f4;
  padding-top: 5px;
}

.leftmenu .col1 {
  width: 77%;
  left: 102%;
}

.leftmenu .col2 {
  width: 15%;
  left: 6%;
}

#footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #000;
}

#footer p {
  padding: 10px;
  margin: 0;
}
/*********************
 Formulaires
*********************/
form {
	margin: 0;
    width: 790px;
}

fieldset {
    padding: 0;
    margin: 2em 0;
    border: none;
}

legend {
    width: 100%;
    font-size: 150%;
    text-transform: uppercase;
    border-bottom: #50a0dd solid thin;
    color: #50a0dd;
    font-family: Roboto, sans-serif;

}

fieldset.boutons {
	border: 0;
	text-align: center;
	margin: 0;
}

form div.rangee, form div#form {
	clear: both;
	padding-top: 5px;
}

form div.rangee label.libelle {
	float: left;
  	width: 20%;
	text-align: right;
	font-weight: bold;
}

form div.rangee span.element {
	float: right;
	width: 78%;
	text-align: left;
}

form span.obligatoire {
	color: #FF0000;
}

form p.erreur {
	background: #EEEEEE url(images/famfamfam/exclamation.png) 5px 5px no-repeat;
	border: 1px #A6A6A6 solid;
	padding: 5px 5px 5px 30px;
	font-weight: bold;
	color: #FF0000;
}

form span.element p.erreur {
	background: transparent;
	border: 0;
	padding: 0;
	text-align: left;
}

p.note {
	background: #EEEEEE url(images/famfamfam/error.png) 5px 5px no-repeat;
	border: 1px #A6A6A6 solid;
	padding-left: 30px;
}

p.html {
	float: right;
	width: 78%;
	text-align: left;
}

/*********************
  Tableaux
*********************/
table {
	border: 0;
}

td,
th {
    white-space: nowrap;
	vertical-align: top;
}

table.afup_tab, table.afup_tab_inside
{
    border-spacing: 2px;
	border-collapse: collapse;
	background-color: #ffffff;
	border: 1px solid #50a0dd;
}
table.afup_tab
{
	min-width : 790px;
}
table.afup_tab td
{
	padding:5px;
	border-left: 1px dotted graytext;
	 white-space: normal;
}

table.afup_tab td:FIRST-CHILD
{
  border-left: none;
  }

table.afup_tab tr.even
{
	background-color: #eeeeee;
}
table.afup_tab tr:hover{
    background-color:#dddddd;
}

table.afup_tab th
{
    background: #50a0dd;
    color: #ffffff;
    padding:5px;
    border-left: 1px solid #ffffff;
}

table.afup_tab th:FIRST-CHILD
{
  border-left: none;
}

  table.afup_tab th a
{
  color: #ffffff;
  text-decoration: underline;
}

  table.afup_tab td a
{
  text-decoration: underline;
  }

  table.afup_tab th a:hover, table.afup_tab td a:hover
{
  text-decoration: none;
}

/*********************
  Listes
*********************/
ul {
	list-style: square;
	margin: 0;
	padding: 0 0 0 20px;
	color: #50a0dd;
}


/*********************
  Pagination
*********************/
div.pagination {
	text-align: center;
	height: 20px;
}

div.pagination div.page_precedente {
	float: left;
	width: 150px;
}

div.pagination div.page_suivante {
	float: right;
	width: 150px;
}

div.pagination div.informations {
	padding: 0 150px;
}


/*********************
  Divers
*********************/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333333;
	margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #18213e;
}

h2 {
	margin-top: 0;
}

p {
	margin: 0;
	padding: 0.4em;
	text-align: justify;
}

img {
	border: 0;
}

img.puce {
	margin-right: 10px;
}

a {
	color: #666666;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}


.erreur {
	color: #FF0000;
	font-weight: bold;
}

.OK {
	border : 1px solid #00AA00;
	background-color : #AAFFAA;
}

.KO {
	border : 1px solid #AA0000;
	background-color : #FFAAAA;
}

.col1 h2 {
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 1em;
}

/*********************
  Pages
*********************/

/* Connexion */
form p.erreur {
	background: none;
	border: 0;
	padding-left: 0;
	text-align: center;
}


/* Message */
body#message {
	background: #dddddd;
}

body#message #contenu {
	width: 412px;
	height: 92px;
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -46px 0 0 -206px;
	background: url(images/fond_message.png) top left no-repeat;
	border: 1px #dddddd solid;
}

body#message p {
	text-align: center;
}

/* Logs */
body#logs ul.liste {
	list-style: none;
	padding: 0;
	color: #333333;
}

body#logs ul.liste h4 {
	border-bottom: 1px #dddddd solid;
	margin-bottom: 0;
}


/* Motdepasse_perdu */


table.planete_billet td { white-space: normal; vertical-align: top; }
table.planete_billet tr.inactif { color: #dddddd; }
ul.tags { display: inline; border-left: 0; padding-left: 0; }
ul.tags li { list-style: none; display : inline; border-left: 0; padding-left: 0; padding-right : 0.8em; }
ul.liste_membres { border-left: 0; padding-left: 0; }
ul.liste_membres li {
    list-style: none;
    color: #18213e;
    border-left: 0;
    padding-left: 0;
    padding-right : 0.8em;
}
ul.liste_membres li td { white-space: normal; }

ul.sparklines li span.minimum { color: #f00; }
ul.sparklines li span.maximum { color: #0f0; }
ul.sparklines li span.dernier { color: #000; }

/* Agenda Forum */

div.bloc_jour .keynote p { text-align: center; }
div.bloc_jour .conferencier { font-size:0.8em; font-style:italic; display: block; }
div.bloc_jour table { border-collapse:collapse; width:100%; }
div.bloc_jour table td { white-space:normal; }
div.bloc_jour table caption { background-color:#E0E3EE; color:inherit; font-weight:bold; height:30px; line-height:30px; }
div.bloc_jour table tbody td { border:1px solid #dddddd; }
td.col_heure { font-size: 10px; width:8% !important; }
tr.li td.col_heure { background-color:#E0E3EE; color:inherit; }

/* Suivi */

tr.avant { display: none; }
tr.aujourdhui td { font-weight: bolder; }
tr.apres td { color: #dddddd; }

/*********************
 Accueil
*********************/
#accueil .rangee {margin: 0.3em 1em}
#accueil .libelle {display:inline-block; width: 100px}
#accueil .colmask img {float:right; margin: 1em}

.inactif td {
    color: #999;
    font-style: italic;
}
.non_finalise td {
    background-color: #FFBD69;
}

.notify {
	display:none;
	position: absolute;
	top: 8px; right: 8px;
	max-width: 246px;
	padding: 5px;
	font-size: 1.0em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	-o-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}
.notify.success {
	background: #DFF0D8;
	color: #468847;
	border: 2px solid #D6E9C6;
}
.notify.error {
	background: #F2DEDE;
    color: #B94A48;
	border: 2px solid #EED3D7;
}
.notify:hover.success {
	border: 2px solid #468847;
}
.notify:hover.error {
	border: 2px solid #B94A48;
}
.notify p {
	margin: 0;
	cursor: default;
	text-align:center;
}
.notify img {
	margin-right:10px
}

/*
    panel for login, lost password…
 */

.panel-page {
    background-color: #dddddd;
}

.panel {
    background-color: #ffffff;
}

.panel h1 {
    text-align: center;
    background: #50a0dd;
    margin: 0;
}

.panel h2 {
    margin: 1em 0;
    text-transform: uppercase;
    text-align: center;
}

.panel form {
    margin: 10px 0 0 0;
    width: 100%;
    font-size: 150%;
    padding: 0 1em;
}

.panel fieldset {
    border: none;
}

.panel .rangee, .panel form div {
    padding: 0;
    margin: 0.5em;
}

.panel .rangee label, .panel form div label {
    display: block;
    text-align: left;
    width:100%;
    font-family: Belgrano, serif;
}

.panel .rangee input, .panel form input, .panel form button {
    display: block;
    text-align: left;
    width:100%;
    margin: 0.5em 0;
    padding: 0.3em;
    line-height: 2em;
    font-size: 100%;
    border-radius: 3px;
    border: solid #50a0dd thin;
}

.panel .rangee input[type="submit"], .panel form button[type=submit] {
    background: #50a0dd;
    color: #ffffff;
    width: auto;
    padding: 0.3em 1em;
    border: none;
    cursor: pointer;
    font-family: Belgrano, serif;
    transition: background-color 0.5s;
}

.panel .rangee input[type="submit"]:hover, .panel form button[type=submit]:hover {
    background-color: #18213e;
}

@media screen and (min-width: 321px) {
    .panel-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panel {
        border: solid #50a0dd thin;
        width: 600px;
    }

    .panel h1 {
        margin: 0;
        height: 80px;
        line-height: 80px;
    }

    .panel h1 img {
        vertical-align: -22px;
        margin: 0 1em;
    }
}

@media screen and (max-width: 320px) {
    .panel-page {
        display: block;
    }
    .panel {
        width: 100%;
        border: none;
    }

    .panel h1 {
        width: 100%;
        height: 3em;
        padding: 0.3em;
    }

    .panel h1 img {
        width: 100%;
        margin: 0;
        vertical-align: baseline;
    }
}

/* Dropzone */
form.dropzone, form.dz-journal-form {
    width: auto;
    border: 1px dotted #aaa;
    border-radius: 5px;
}
.dz-clickable:hover {
    cursor: pointer;
}
.upload-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    z-index: 999;
}
.upload-loader .loader {
    position: fixed;
    top: 300px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    opacity: 1.6;
}

.flash {
    border: 1px solid;
    margin: 10px 0;
    padding:15px 10px;
}
.flash-notice {
    color: #00529B;
    background-color: #BDE5F8;
}
.flash-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.flash-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.list-icon-invisible {
    visibility: hidden;
}

.list-icon {
    padding: 0 4px
}
form[name=event_select]{
    margin: 10px 0;
}
#company-members table.afup_tab td{
    vertical-align: middle;
}
.inscriptions--cotisation-notfound{
    background-color: #f07373;
}
.inscriptions--cotisation-expiring{
    background-color: #e7f073;
}
.inscriptions--cotisation-expired{
    background-color: #f0b973;
}
.inscriptions--cotisation-ok{
    background-color: #73f084;
}

/* Menu */
body {
    position: absolute;
}
#menu {
    padding: 0 10px 0 10px;
    background: #50a0dd;
}

#menu > li {
    width: 6%;
    min-width: 130px;
    background: #50a0dd;
    height: 40px;
    list-style: none;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    overflow: visible;
    color: white;
    display: inline-block;
}

#menu > li > span {
    display: block;
    line-height: 40px;
}

#menu > li > span a {
    color: white;
}

#menu > li > ul {
    display: none;
    height: auto;
    z-index: 9999999999;
    width: 300px;
    list-style: none;
    text-align: left;
    background: white;
    position: relative;
    border-left: 4px solid #50a0dd;
    border-right: 1px solid #50a0dd;
    border-bottom: 1px solid #50a0dd;
    padding-left: 0;
}

#menu > li > ul li a {
    line-height: 30px;
    display: block;
    width: 100%;
    padding-left: 10px;
}

#menu > li > ul li a:hover {
    background-color: #50a0dd;
    color: white;
    text-decoration: none;
}

#menu > li:hover > ul {
    display: block;
}

#menu > li:hover span,
#menu > li:hover span > a {
    background: white;
    color: #666666;
}

#menu > li > span > a {
    display: block;
    width: 100%;
}

#menu > li:hover span > a {
    text-decoration: none;
}

.col1 {
    padding: 30px;
    float: none;
}

/** Biletterie sponsors */
.sponsor--token-admin-view{
    margin: 0;
    display: inline;
}
form[name=sponsor_ticket]{
    width: 600px;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eee
}
form[name=sponsor_ticket] #sponsor_ticket div{
    margin: 0.5em 0;
}

form[name=sponsor_ticket] #sponsor_ticket div label{
    display: inline-block;
    min-width: 200px;
    font-weight: 700;
    font-family: Glegoo,Helvetica,Arial,sans-serif;
    border-bottom: 1px #c0cce4 solid;
    color: #333
}

form[name=sponsor_ticket] #sponsor_ticket div input{
    min-width: 300px;
    padding: .2em 0 .2em .2em;
    border: 1px solid #ccc;
}

form[name=sponsor_ticket] button[type=submit], .sponsor--token-admin-view input[type=submit], a.sponsor--token-admin-edit{
    text-decoration: none !important;
    background-color:#50a0dd !important;
    font-size:0.8rem;
    color:white;
    padding: 20px 10px;
    border: 1px solid #2b3e74;
    cursor:pointer;
    min-width: 0;
    height: 2rem;
    line-height:0;
    font-weight: normal;
    margin: 0;
    display: inline-block;
}
