#entete { display: none; }
#menu { display: none; }
.pagebreak { page-break-before: always; }
.emargement th {background-color: #999;color:#fff;border: 1px solid #000;border-collapse:collapse;}
.emargement td {background-color: #fff;color:#000;border: 1px solid #000;border-collapse:collapse;}