become_member:
  path: /devenir-membre
  defaults: {_controller: AppBundle:MemberShip:becomeMember}
  options:
    sitemap: true

company_membership:
  path: /adherer/entreprise
  defaults: {_controller: AppBundle:MemberShip:company}
  options:
    sitemap: true

member_membership:
  path: /adherer/particulier
  defaults: {_controller: AppBundle:MemberShip:member}
  options:
    sitemap: true

company_membership_payment:
  path: /adherer/entreprise/paiement-{invoiceNumber}-{token}
  defaults: {_controller: AppBundle:MemberShip:payment}
  requirements:
    invoiceNumber: 'COTIS-[0-9]{4}-[0-9]+'
    token: '.+'

company_membership_invoice:
  path: /adherer/entreprise/invoice-{invoiceNumber}-{token}
  defaults: {_controller: AppBundle:MemberShip:invoice}
  requirements:
    invoiceNumber: 'COTIS-[0-9]{4}-[0-9]+'
    token: '.+'

company_invitation:
  path: /adherer/invitation/{invitationId}-{token}
  defaults: {_controller: AppBundle:MemberShip:memberInvitation}
  requirements:
    invitationId: '\d+'
    token: '.+'

offices:
  path: /antennes
  defaults: {_controller: AppBundle:Static:offices}
  options:
    sitemap: true

superapero:
  path: /super-apero
  defaults: {_controller: AppBundle:Static:superApero}
  options:
    sitemap: true

void:
  path: /void-route
  defaults: {_controller: AppBundle:Static:void}

newsletter_subscribe:
  path: /newsletter-subscribe
  defaults: {_controller: AppBundle:Newsletter:subscribe}

membership_payment:
  path: /paybox-callback
  defaults: {_controller: AppBundle:MemberShip:payboxCallback}

membership_payment_redirect:
  path: /paybox-redirect/{type}
  defaults:
    _controller: AppBundle\Controller\PayboxRedirectAction:index
    type: success
  requirements:
    type: success|error|canceled|refused


techletter:
  path: /techletter
  defaults: {_controller: AppBundle:Techletter:index}
  options:
    sitemap: true

techletter_webhook:
  path: /techletter/webhook
  defaults: {_controller: AppBundle:Techletter:webhook }
  methods: ["GET", "POST"]
