become_member:
  path: /devenir-membre
  defaults: { _controller: AppBundle\Controller\Website\Membership\BecomeMemberAction }
  options:
    sitemap: true

company_membership:
  path: /adherer/entreprise
  defaults: { _controller: AppBundle\Controller\Website\Membership\CompanyAction }
  options:
    sitemap: true

member_membership:
  path: /adherer/particulier
  defaults: { _controller: AppBundle\Controller\Website\Membership\RegisterAction }
  options:
    sitemap: true

company_membership_payment:
  path: /adherer/entreprise/paiement-{invoiceNumber}-{token}
  defaults: { _controller: AppBundle\Controller\Website\Membership\PaymentAction }
  requirements:
    invoiceNumber: 'COTIS-[0-9]{4}-[0-9]+'
    token: '.+'

company_membership_invoice:
  path: /adherer/entreprise/invoice-{invoiceNumber}-{token}
  defaults: { _controller: AppBundle\Controller\Website\Membership\InvoiceAction }
  requirements:
    invoiceNumber: 'COTIS-[0-9]{4}-[0-9]+'
    token: '.+'

company_invitation:
  path: /adherer/invitation/{invitationId}-{token}
  defaults: { _controller: AppBundle\Controller\Website\Membership\MemberInvitationAction }
  requirements:
    invitationId: '\d+'
    token: '.+'

offices:
  path: /antennes
  defaults: { _controller: AppBundle\Controller\Website\Static\OfficesAction }
  options:
    sitemap: true

superapero:
  path: /super-apero
  defaults: { _controller: AppBundle\Controller\Website\Static\SuperAperoAction }
  options:
    sitemap: true

void:
  path: /void-route
  defaults: { _controller: AppBundle\Controller\Website\Static\VoidAction }

newsletter_subscribe:
  path: /newsletter-subscribe
  defaults: { _controller: AppBundle\Controller\Website\NewsletterController::subscribe }

membership_payment:
  path: /paybox-callback
  defaults: { _controller: AppBundle\Controller\Website\Membership\PayboxCallbackAction }

membership_payment_redirect:
  path: /paybox-redirect/{type}
  defaults:
    _controller: AppBundle\Controller\Website\Paybox\RedirectAction
    type: success
  requirements:
    type: success|error|canceled|refused

public_payment_invoice:
  path: /paiement/facture/
  defaults:
    _controller: AppBundle\Controller\Admin\Accounting\Invoice\PublicPaymentAction

public_download_invoice:
  path: /paiement/facture/download/
  defaults:
    _controller: AppBundle\Controller\Admin\Accounting\Invoice\PublicDownloadAction

public_payment_redirect:
  path: /paiement/{type}/
  defaults:
    _controller: AppBundle\Controller\Admin\Accounting\Invoice\PublicPaymentRedirectAction
    type: success
  requirements:
    type: success|error|canceled|refused

techletter:
  path: /techletter
  defaults: { _controller: AppBundle\Controller\Website\Techletter\IndexAction }
  options:
    sitemap: true

techletter_webhook:
  path: /techletter/webhook
  defaults: { _controller: AppBundle\Controller\Website\Techletter\WebhookAction }
  methods: [ "GET", "POST" ]
