/*-----------------------------------------------------------------------------------------------------
		Projet :
		Website :
		Auteur : MrRayures

		Sommaire :  General
					Header
					Contenu
					Footer

-------------------------------------------------------------------------------------------------------*/



/* General
-------------------------------------------------------------------------------------------------------*/
* {margin:0;padding:0;}
:focus {outline: 0;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}/* tables still need 'cellspacing="0"' in the markup */
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
.clear {clear:both;line-height:0;height:0;}
.clearfix:before, .clearfix:after {content:"";display:table;} /* For modern browsers */
.clearfix:after {clear:both;}
.clearfix {zoom:1;} /* For IE 6/7 (trigger hasLayout) */
a{color:#000;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}
.corner-4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.corner-8 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.corner-12 {border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('../font/museosans_500-webfont.eot');
    src: url('../font/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_500-webfont.woff') format('woff'),
         url('../font/museosans_500-webfont.ttf') format('truetype'),
         url('../font/museosans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: black;
	background: white;
	font:12px/1.4em Helvetica, Arial, sans-serif;
	background:url(../images/bg-global.png) repeat center top;
}

.path-content {
	background:url(../images/bg-path.jpg) no-repeat center top;
}


/* Header
-------------------------------------------------------------------------------------------------------*/


.header {
	background:url(../images/bg-header.png) no-repeat center top;
	height:160px;
	position:relative;
	z-index:9999;
}

.header-content {
	width:980px;
	margin:0 auto;
}

.header h1.logo {
	padding-top:1px;
}

.header .logo a {
	float:left;
	background:url(../images/logo.png) no-repeat left top;
	width:244px;
	height:94px;
	display:block;
	text-indent:-9999px;
	margin: 16px 0 0 20px;

}

.header .description {
	float:left;
	width:500px;
	margin:20px 0 0 80px;
}

.header .description  h1 {
	font: 24px/1.2em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#FFF;
	margin-bottom:10px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}

.header .description  p {
	color:#FFF;
}

.header .description a {
	color:#FFF;
}

/*========================/
	Navigation
/========================*/

.navigation-content {
	width:980px;
	height:75px;
	margin:0 auto;
	background:#FFF;
	position:relative;
	z-index:999;
	height:75px;
	margin-top:-20px;
}

.navigation {
	float:left;
}

.navigation ul {
	margin-top:3px;
}

.navigation ul li {
	float:left;
	position:relative;
	display:block;
	z-index:999;
	margin-right:1px;
}

.navigation ul li a {
	font: 18px/1.2em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#343434;
	padding:30px 20px 24px 20px;
	position:relative;
	z-index:999;
	display:block;
	/*background:url(../images/btn-nav-hover.png) no-repeat center bottom;*/
}
.navigation ul li a.home {padding-bottom:24px;}
.navigation ul li a.appel-conférenciers {padding-bottom:28px;}
.navigation ul li a.inscription {padding-bottom:27px;}
.navigation ul li a.programme {padding-bottom:25px;}
.navigation ul li a.acces {padding-bottom:24px;}
.navigation ul li a.contact {padding-bottom:24px;}
.navigation ul li a.sponsor {padding-bottom:24px;}

.navigation ul li a:hover,
.navigation ul li.activ a {
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.6);
	background:url(../images/btn-nav-hover.png) no-repeat center bottom;
	text-decoration:none;
}

/*//// Lvl 1 ////*/
.navigation ul.lvl-1 {
	display:none;
	position:absolute;
	top:0;
	margin-top:72px;
	padding-top:8px;
	z-index:99;
	background:#FFF;
}

.navigation ul li:hover ul.lvl-1 {
	display:block;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 3px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 3px 2px rgba(0, 0, 0, 0.2);
}

.navigation ul.lvl-1 li {
	float:none;
	margin:0;
}

.navigation ul.lvl-1 li a {
	display:block;
	background:#FFF;
	padding:10px 20px;
	font-size:16px;
	color:#555;
}

.navigation ul.lvl-1  li a:hover {
	color:#FFF;
	text-decoration:none;
	background:#7b7b7b;
	background-image: -moz-linear-gradient(top,
							#bcbcbc,
							#7b7b7b);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#bcbcbc),
		color-stop(1, 		#7b7b7b));
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bcbcbc', EndColorStr='#7b7b7b')";
}


/*//// Social Link ////*/
.social-link {
	float:right;
}

.social-link  ul {
	margin:30px 20px 0 0;
}

.social-link  ul li{
	float:left;
}

.social-link  ul li a {
	display:block;
	width:24px;
	height:24px;
	text-indent:-9999px;
	margin:0 4px;
}

.social-link  ul li a.btn-twitter {background:url(../images/btn-twitter.png) no-repeat left top;}
.social-link  ul li a.btn-facebook {background:url(../images/btn-facebook.png) no-repeat left top;}
.social-link  ul li a.btn-flickr {background:url(../images/btn-flickr.png) no-repeat left top;}

.social-link  ul li a:hover {
	background-position:left bottom;
}


/* Contenu
-------------------------------------------------------------------------------------------------------*/
.content {
	width:980px;
	margin:80px auto 0 auto;

}


/*========================/
	News
/========================*/

.left-container {
	float:left;
	width:710px;
}

.left-container p{
	font-size: 13px;
}

.left-container .news {
	position:relative;
	z-index:10;
	margin-bottom:120px;
}


/*//// Slide ////*/
.content .slide {
	position:relative;
	z-index:9;
	margin-bottom:100px;
}

.content .slide img {
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.content .slide .txt {
	background:url(../images/bg-slide.png) no-repeat left top;
	width:227px;
	height:348px;
	position:absolute;
	z-index:9;
	right:0;
	top:-30px;
}

.content .slide .txt h2 {
	font: 20px/1em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	margin: 36px 24px 16px 44px;
}

.content .slide .txt p {
	color:#c1cfe4;
	line-height:1.4em;
	margin: 0 42px 16px 44px;
}

.content .slide .txt a {
	color:#92a6c2;
	text-decoration:underline;
	margin: 0 24px 0 44px;
}

.content .slide .txt a:hover {
	text-decoration:underline;
	color:#FFF;
}


/*//// Titre ////*/
.news .title {
	background:url(../images/bg-titre-actu.png) no-repeat left top;
	width:728px;
	height:56px;
	position:absolute;
	z-index:10;
	top:-42px;
	left:-12px;
}

.news .title h2 {
	font: 20px/1em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	margin-top:10px;
}

.news .title span {
	font-size: 10px;
	color:#a79fdc;
}

.news .title h2,
.news .title span {
	margin-left:28px;
}

/*//// Contenu ////*/
.news .news-txt {
	background:#FFF;
	padding:32px 20px;
	position:relative;
	z-index:5;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.news .news-txt img {
	float:left;
	margin:0 16px 16px 0;
}

.news .news-txt  p {
	line-height:1.4em;
	color:#333;
}

.news .news-txt h3 {
	line-height:1.4em;
	color:#7666da;
	margin:26px 0 6px 0;
	font-size:18px;
}

.news .news-txt a {
	line-height:1.4em;
	color:#7666da;
	font-size:14px;
	font-weight:bold;
}

.news .news-txt ul {
	line-height:1.4em;
	list-style-type:disc;
	padding-left:20px;
	margin:10px 0 10px 10px;
	display:block;
}

.news .news-txt ul li:first-letter {
	text-transform:uppercase;
}

/*//// Lire la suite ////*/
.news .read-more {
	background:url(../images/bg-suite-actu.png) no-repeat left top;
	width:136px;
	height:41px;
	display:block;
	color:#FFF;
	font-size:12px;
	text-align:right;
	position:absolute;
	z-index:2;
	bottom:-30px;
	right:16px;
}

.news .read-more span {
	display:block;
	padding:15px 20px 0 10px;
}

.news .read-more:hover {
	background-position:left bottom;
	text-decoration:none;
}


/*========================/
	Page interne
/========================*/
.left-content {
	float:left;
	width:670px;
	background:#FFF;
	padding:32px 20px;
	position:relative;
	z-index:5;
	margin-bottom:40px;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.left-content h1 {
	position:absolute;
	font: 20px/1em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	background:url(../images/bg-titre-actu.png) no-repeat left top;
	width:700px;
	height:40px;
	padding:16px 0 0 28px;
	position:absolute;
	z-index:10;
	top:-42px;
	left:-12px;
}

.left-content  h2 {
	line-height:1.4em;
	color:#7666da;
	font-size:18px;
	margin:10px 0 6px 0;
}

.left-content h3 {
	line-height:1.4em;
	margin:10px 0 6px 0;
	font-size:14px;
}

.left-content p {
	line-height:1.4em;
	font-size:13px;
	color:#333;
}

.left-content a {
	line-height:1.4em;
	color:#7666da;
	font-size:14px;
	font-weight:bold;
}

.left-content ul {
	line-height:1.4em;
	list-style-type:disc;
	padding-left:20px;
	margin:10px 0 10px 10px;
	display:block;
}

.left-content ul li:first-letter {
	text-transform:uppercase;
}

/*========================/
	Tarifs/inscription
/========================*/

#form_etre_tenu_au_courant {
	margin:40px 0;
	color:#7666da;
	font-size:14px;
}

#form_etre_tenu_au_courant fieldset {
	margin-bottom:20px;
	padding:20px;
	border:none;
	border:4px solid #5284da;
}

#form_etre_tenu_au_courant .raccourci,
#form_etre_tenu_au_courant .note {
	font-style:italic;
	color:#666;
	margin-top:20px;
}

#form_etre_tenu_au_courant input[type="text"] {
	padding:4px;
	border:1px solid #d6d2f3;
	box-shadow:0 1px 0px #d6d2f3;
	-moz-box-shadow:0 1px 0px #d6d2f3;
	-webkit-box-shadow:0 1px 0px #d6d2f3;
	width:200px;
	font-size:12px;
}

#form_etre_tenu_au_courant input[type="text"]:focus {
	border:1px solid #7666da;
	box-shadow:0 1px 0px #7666da;
	-moz-box-shadow:0 1px 0px #7666da;
	-webkit-box-shadow:0 1px 0px #7666da;
}

#form_etre_tenu_au_courant input[type="submit"] {
	background:#5284da;
	padding:0px 10px 2px 10px;
	border:none;
	text-align:center;
	font-size:16px;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	border-bottom:2px solid #385B93;
	cursor:pointer;
}

#form_etre_tenu_au_courant input[type="submit"]:hover {
	background:#385B93;
}

/*//// Formulaire ////*/
#formulaire {
	margin:40px 0;
}


#formulaire fieldset {
	margin-bottom:20px;
	padding:20px;
	border:none;
	border-top:4px solid #5284da;
}

#formulaire legend,
#formulaire legend a {
	font-size:12px;
	padding:0 8px;
	color:#5284da;
	font-weight:bold;
}

#formulaire legend a {
	padding:0;
}

#formulaire .rangee {
	margin-bottom:10px;
}

#formulaire .raccourci,
#formulaire .note {
	font-style:italic;
	color:#666;
}

#formulaire label {
	color:#7666da;
	/*display:block;*/
	font-size:14px;
	line-height:1.8em;
	margin-bottom:4px;
}

#formulaire label.libelle:after {
	content: " :";
}

#formulaire .element {
	display:block;
}

#formulaire .element label {
	margin-left:6px;
}

#formulaire input[type="text"],
#formulaire textarea {
	padding:8px;
	border:1px solid #d6d2f3;
	box-shadow:0 1px 0px #d6d2f3;
	-moz-box-shadow:0 1px 0px #d6d2f3;
	-webkit-box-shadow:0 1px 0px #d6d2f3;
	width:400px;
	font-size:14px;
}

#formulaire select {
	padding:4px;
	border:1px solid #d6d2f3;
	box-shadow:0 1px 0px #d6d2f3;
	-moz-box-shadow:0 1px 0px #d6d2f3;
	-webkit-box-shadow:0 1px 0px #d6d2f3;
	font-size:14px;
}

#formulaire input[type="radio"] {

}

#formulaire input[type="text"]:focus,
#formulaire textarea:focus {
	border:1px solid #7666da;
	box-shadow:0 1px 0px #7666da;
	-moz-box-shadow:0 1px 0px #7666da;
	-webkit-box-shadow:0 1px 0px #7666da;
}

#formulaire input[type="submit"] {
	background:url(../images/btn-form.png) no-repeat left top;
	width:136px;
	height:41px;
	/*margin-left:282px;*/
	border:none;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	cursor:pointer;
}

#formulaire input[type="submit"]:hover {
	background-position:left bottom;
}

#formulaire .obligatoire {
	color:#eb5757;
}


/*========================/
	Programme
/========================*/

.deroulements h2.jour {
	font-weight:normal;
	background:#5284da;
	font-size:14px;
	padding:2px 10px;
	color:#FFF;
	margin-top:40px;
}

.deroulements h3.horaire {
	font-weight:normal;
	margin-left:10px;
}

.deroulements .deroulement {
	margin:0 0 10px 20px;
	padding-left:10px;
	border-left:1px dotted #ccc;
}

.deroulements .deroulement:hover {
	background:#f9f9f9;
}

/*========================/
	Conferenciers
/========================*/
.conferenciers .conferencier {
	margin-bottom:20px;
	padding:10px;
	border-bottom:4px solid #f9f9f9;

}

.conferenciers .conferencier .photo {
	float:left;
	width:90px;
	/*background:#f9f9f9;
	min-height:120px;*/
}

.conferenciers .conferencier .photo img {
	float:none;
	border-bottom:4px solid #5284DA;
}

.conferenciers .conferencier .body {
	float:right;
	width:540px;
}

.conferenciers .conferencier .body h3 {
	color: #5284DA;
    font-size: 18px;
    line-height: 1.4em;
    margin:0;
}

.conferenciers .conferencier .body .societe {
	color: #333;
	font-size:14px;

}
.conferenciers .conferencier .biographie {
	lin-height:1.4em;
	color:#666;
	margin-top:10px;
	border-left:1px dotted #f9f9f9
}


.conferenciers .conferencier .spacer {
	clear:both;
}

/*========================/
	Conferenciers
/========================*/
.sessions .session {
	margin-bottom:40px;
	/*padding-bottom:20px;*/
	border-bottom: 4px solid #F9F9F9;
}

.sessions .session h3 {
	color: #5284DA;
    font-size: 18px;
    line-height: 1.4em;
    margin:0;
}

.sessions .session .horaire {
	/*background:#f9f9f9;
	display:inline-block;*/
	font-size:14px;
	color:#333;
}

.sessions .session .salle {
	background:#52D4B7;
	padding:1px 4px;
	display:inline-block;
	color:#FFF;
}

.sessions .session .details .abstract {
	float:left;
	width:500px;
	padding-bottom:20px;
}

.sessions .session .details .abstract p {
	text-align:justify;
	color:#333;
	line-height:1.4em;
}

.sessions .session .details .conferenciers {
	float:right;
	width:130px;
	background:#f9f9f9;
	padding:10px;
}

.sessions .session .details:before,.sessions .session .details:after {content:"";display:table;}
.sessions .session .details:after {clear:both;}
.sessions .session .details {zoom:1;}



.sessions .session .details .conferenciers .conferencier {
    border-bottom: none;
    margin-bottom:0;
    padding:0;
}


.sessions .session .details .conferenciers .conferencier a {
	/*float:left;*/
}

.sessions .session .details .conferenciers .conferencier img {
	float:none;
	border-bottom:4px solid #5284DA;
}

.sessions .session .details .spacer {
	clear:both;
}


/*========================/
	Acces
/========================*/



/*========================/
	Contact
/========================*/



/*========================/
	Sponsors
/========================*/






/*========================/
	Sidebar
/========================*/
.sidebar {
	float:right;
	width:210px;

}

.sidebar .bloc-sidebar {
	position:relative;
	z-index:9;
	margin-bottom:70px;
}

.sidebar .bloc-sidebar .title {
	background:url(../images/bg-titre-sidebar.png) no-repeat left top;
	width:162px;
	height:49px;
	position:absolute;
	z-index:4;
	top:-36px;
	right:-16px;
}

.sidebar .bloc-sidebar .title p {
	margin:14px 16px 0 16px;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}

.sidebar .bloc-sidebar-content {
	background:#FFF;
	padding:16px 16px 1px 16px;
	position:relative;
	z-index:5;
	text-align:center;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	position:relative;
	z-index:9;
}

.sidebar .share .bloc-sidebar-content {
	text-align:left;
}

.sidebar .bloc-sidebar-content p {
	color:#666;
	text-align:center;
	margin-bottom:10px;
}

.sidebar .bloc-sidebar-content img {
	margin-bottom:20px;
}





/* Footer
-------------------------------------------------------------------------------------------------------*/

.footer {
	background:url(../images/bg-footer.png) no-repeat center bottom;
	height:155px;
	z-index:999;
}

.footer-content {
	width:980px;
	margin:0 auto;
}

/*//// Map ////*/
.footer .location {
	width:260px;
	float:left;
	margin:34px 0 0 30px;
}

.footer .location .map {
	background:url(../images/bg-map.png) no-repeat right bottom;
	padding:0 10px 10px 0;
	float:left;
	margin-right:10px;
}

.footer .location h4 {
	font: 20px/1em 'MuseoSans500', Helvetica, Arial, sans-serif;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	margin-bottom:4px;
}

.footer .location p {
	color:#FFF;
	line-height:1.4em;
	color:#c7d0ed;
}



/*//// Support ////*/
.footer .with-support {
	width:600px;
	height:75px;
	float:right;
	margin:35px 20px 20px 0;
}

.footer .with-support p {
	margin-bottom:10px;
}


/*//// Infos ////*/
.footer .infos {
	width:600px;
	float:right;
	margin-right:20px;
}

.footer .infos {
	color:#6e6e6e;
	font-size:10px;
}

.footer .infos a {
	color:#333;
}

.footer .infos a:hover {
	text-decoration:underline;
}


