li.nav-cart {
  display: none;
}

li.nav-cart.responsive-nav-cart {
  display: block;
  margin-left: 5px;
}

.container .navbar-header {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.navbar > .container {
  transition: padding 0.1s ease;
  padding: 10px 15px;
  align-items: center;
  display: block;
}

.navbar.navbar-transparent {
  background: #fff;
  color: #555;
}

.navbar.navbar-transparent > .container {
  padding-top: 10px;
}

.navbar .nav.navbar-nav {
  display: block;
}

.hestia-sidebar-header {
  display: none;
}

.navbar.hestia_right .navbar-header {
  max-width: inherit;
}

.navbar {
  &.navbar-default {
    .dropdown.btn a .caret {
      border-color: #fff !important;
      color: #fff !important;
    }
    li.btn a, .navbar-nav .menu-item.btn.active a {
      &, i {
        color: #fff;
      }
    }
    li.btn:hover {
      a, i {
        color: #fff;
      }
      ul li i {
        color: #fff;
      }
    }
    li.btn ul li {
      a, i {
        opacity: 1;
        color: #fff !important;
      }
      &:hover a, i {
        color: #fff !important;
      }
    }
  }

  &.navbar-fixed-top {
    .navbar-collapse {
      max-height: calc(100% - 70px);
      margin-top: 70px;
      overflow-y: auto;
      position: fixed;
      z-index: 9999;
      background: #fff;
      width: 100%;
      left: 0;
      top: 0;
      margin-left: 0;
      margin-right: 0;
      -webkit-overflow-scrolling: auto;
    }
    &.header-with-topbar:not(.navbar-scroll-point) .navbar-collapse {
      margin-top: 110px;
    }
  }

  .navbar-nav {
    margin: 7.5px 0;
    li {
      box-sizing: border-box;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left;
    }

    li.btn {
      margin-top: 10px;
    }

    .dropdown {
      a {
        .caret {
          border: 1px solid #555;
          border-radius: 2px;
          box-sizing: content-box;
          color: #555;
          cursor: pointer;
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          height: 30px;
          margin-left: 0;
          position: absolute;
          right: 15px;
          text-align: center;
          top: 10px;
          width: 30px;
          z-index: 100;
          svg {
            width: 12.5px;
            margin: 9px;
            transition: all 0.3s ease;
          }
        }
        .caret-open .caret svg {
          transform: rotate(-180deg);
        }
        > i {
          margin-right: 12px;
        }
      }

      &.open {
        a > .caret {
          &:before {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
          }
        }
      }

      &.open {
        .dropdown-menu {
          display: block !important;
        }
      }

      .dropdown-menu {
        background: transparent;
        box-shadow: none;
        position: static;
        margin-top: 0;
        padding: 0;
        width: 100%;

        &.open {
          display: block !important;
        }

        li a {
          margin: 0;
          padding: 15px 0 15px 30px;

          &:hover,
          &:focus {
            background-color: transparent;
            color: $color-rose;
          }
        }
        li li a {
          padding: 15px 0 15px 45px;
        }
      }
    }

  }

  .navbar-header .navbar-brand {
    padding-left: 0;
  }

  .navbar-brand h1, .navbar-brand p {
    padding: 10px 0;
  }

  .dropdown-submenu {
    &:hover .dropdown-menu {
      display: none !important;
    }
    &.open {
      > a {
        background: transparent !important;
        color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

}

.navbar.navbar-transparent .open .dropdown-menu > {
  li > a:hover,
  li > a:focus,
  .active > a,
  .active > a:hover,
  .active > a:focus {
    color: inherit;
    background-color: transparent;
  }
}

.navbar.navbar-transparent .navbar-nav > .active > a {
  color: #555;
}

.navbar .open .dropdown-menu > {
  li > a:hover,
  li > a:focus,
  .active > a,
  .active > a:hover,
  .active > a:focus {
    color: $color-rose;
    background-color: transparent;
  }
}

.navbar .dropdown-menu li > a > i {
  opacity: 1;
}

.hestia_right .header-sidebar-wrapper {
  display: none;
}

// Admin bar
body.admin-bar {
  .navbar {
    margin-top: 45px;
    &.navbar-default .navbar-collapse {
      max-height: calc(100% - 115px);
      margin-top: 115px;
    }

    &.header-with-topbar {
      margin-top: 0;
      top: 85px;

      &.navbar-fixed-top .navbar-collapse {
        max-height: calc(100% - 155px);
        margin-top: 155px;
      }
      &.navbar-fixed-top.navbar-scroll-point .navbar-collapse {
        margin-top: 115px
      }
    }

    &.navbar-scroll-point {
      &.header-with-topbar {
        top: 45px;
      }
      &.navbar-fixed-top .navbar-collapse {
        max-height: calc(100% - 115px);
      }
    }
  }
}

