{% extends ':event/ticket:base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Billetterie'}} %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h1>Paiement de vos billets</h1>
        <div>
            <p>
                Cette commande a déjà été traitée.
            </p>
        </div>
    </div>
{% endblock %}
