{% extends ':event/ticket:base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'Billetterie sponsor'|trans }}: {{ event.title }}</h1>
        <form method="post" class="sponsor--token-home-form">
            <div>
                <label>Token</label>
                <input type="text" name="sponsor_token" placeholder="ABCDEFGHIJKLMNOPQRSTUVWXYZ" /><input type="submit" value="OK" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('sponsor_ticket') }}" />
            </div>
        </form>
    </div>
{% endblock %}
